.intro {
    position: relative;
    padding-bottom: 535px;
    @media (min-width:601px) {
        padding-bottom: 0;
    }
    .wrapper {
    }
    &__content {
        padding: 46px 0;
        width: 100%;
        position: relative;
        @media (min-width:601px) {
            width: 50%;
            padding: 181px 0;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            padding: 93px 0 190px ;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            padding: 54px 0 123px ;
        }
        
    }
    &__title {
        font-family: 'Evolventa',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 53px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #1F1F1F;
        @media (min-width:601px) {
            font-size: 72px;
            line-height: 96px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            font-size: 56px;
            line-height: 74px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            font-size: 36px;
            line-height: 48px;
        }
    }
    &__text {
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 170%;
        letter-spacing: 0.025em;
        color: rgba(0, 0, 0, 0.7);
        margin: 15px 0 0;
        @media (min-width:601px) {
            max-width: 635px;
            font-size: 16px;
            margin: 30px 0 0;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            font-size: 14px;
            max-width: 519px;
            margin: 20px 0 0;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            font-size: 10px;
            margin: 15px 0 0;
            max-width: 328px;
        }
    }
    .prev-text {
        display: none;
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 170%;
        letter-spacing: 0.025em;
        color: rgba(0, 0, 0, 0.7);
        @media (min-width:601px) {
            max-width: 635px;
            font-size: 16px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            font-size: 14px;
            max-width: 519px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            font-size: 10px;
            max-width: 328px;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        margin-top: 30px;
        @media (min-width:601px) {
            margin-top: 53px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            margin-top: 45px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            margin-top: 25px;
        }
        a {
            &:first-child {
                margin-right: 35px;
                width: 186.15px;
                height: 38.23px;
                font-family: 'NotoSansJP',sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 0.025em;
                position: relative;
                @media (min-width:601px) {
                    width: 224px;
                    height: 46px;
                    font-size: 18px;
                    line-height: 26px;
                }
                @media (min-width:1200px) and (max-width: 1601px) {
                    width: 195px;
                    height: 40px;
                    font-size: 16px;
                    line-height: 23px;
                }
                @media (min-width:601px) and (max-width: 1199px) {
                    width: 124px;
                    height: 26px;
                    font-size: 10.1338px;
                    line-height: 14px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 19.11px;
                    height: 9.97px;
                    top: 50%;
                    transform: translateY(-50%) rotate(180deg);
                    right: -55px;
                    background-image: url(../img/arrowdrop.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    transition: 0.3s ease;
                    @media (min-width:1200px) and (max-width: 1601px) {
                        width: 19px;
                        height: 10px;
                        right: -45px;
                    }
                    @media (min-width:601px) and (max-width: 1199px) {
                        width: 12.03px;
                        height: 6.33px;
                        right: -35px;
                    }
                }
                &.active {
                    &::before {
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    &__slider {
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 0px 0px 0px 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        padding-bottom: 35px;
        @media (min-width:601px) {
            width: 50%;
            left: initial;
            right: 0;
            bottom: initial;
            top: 0;
            height: 700px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            height: 439px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            height: 278px;
        }
    }
}