.pop-prod {
    padding: 36px 0 0;
    @media (min-width:601px) {
        padding: 103px 0 0;
    }
    @media (min-width:601px) and (max-width: 1281px) {
        padding-top: 0;
    }
    &__slider {
        width: 100%;
    }
    &__btn {
        width: 100%;
        height: 49px;
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-top: 67px;
        @media (min-width:601px) {
            width: 266px;
            height: 53px;
            font-size: 20px;
            line-height: 29px;
            margin: 92px 0 0;
            position: relative;
            left:50%;
            transform: translateX(-50%);
        }
        @media (min-width:601px) and (max-width: 1281px) {
            width: 222px;
            height: 44px;
            font-size: 16px;
            margin-top: 50px;
        }
    }
    &-similar {
        padding-bottom: 60px;
        @media (min-width:601px) {
            padding-bottom: 120px;
        }
    }
    &-mob {
        @media (max-width:601px) {
            display: none;
        }
    }
}