.basket {
    display: flex;
    align-items: center;
    &__img {
        display: block;
        background-image: url(../img/basket.svg);
        height: 27px;
        width: 27px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 9px;
        @media (min-width:601px) {
            height: 40px;
            width: 40px;
            margin-right: 8px; 
        }
    }
    &__text {

    }
    &__name {
        font-weight: normal;
        font-size: 8px;
        line-height: 12px;
        @media (min-width:601px) {
            font-size: 12px;
            line-height: 17px;
        }
    }
    &__sum {
        font-weight: bold;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.04em;
        @media (min-width:601px) {
            font-size: 16px;
            line-height: 23px;
        }
    }
}