.card {
    &__wrapper {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 18px 20px;
      width: 163px;
      height: 254px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: space-between;
      margin: 0 auto;
      position: relative;
      @media (min-width:601px) {
        width: 375px;
        height: 546px;
        padding: 42px 46px;
      }
      @media (min-width:601px) and (max-width: 1281px) {
        width: 240px;
        height: 349.44px;
        padding: 18px 20px;
      }
    }
    &__discont {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 7px;
      right: 16px;
      transform: rotate(-90deg);
      width: 35px;
      height: 20px;
      pointer-events: none;
      @media (min-width:601px) {
        width: 81px;
        height: 47px;
        top: 16px;
        right: 32px;
      }
      @media (min-width:601px) and (max-width: 1281px) {
        width: 51.84px;
        height: 30.08px;
        top:10px;
        right: 24px;
      }
      &_red {
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 8.64px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        background-color: #FF4342;
        box-shadow: 0px 0px 4px rgba(209, 194, 116, 0.3);
        border-radius: 3px 0px 0px 3px;
        @media (min-width:601px) {
          font-size: 20px;
          line-height: 28px;
        }
        @media (min-width:601px) and (max-width: 1281px) {
          font-size: 12px;
          line-height: 17px;
        }
      }
      &_yellow {
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 8.64px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.03em;
        color: black;
        background-color: #FFCF47;
        box-shadow: 0px 0px 4px rgba(209, 194, 116, 0.3);
        border-radius: 3px 0px 0px 3px;
        @media (min-width:601px) {
          font-size: 20px;
          line-height: 29px;
        }
        @media (min-width:601px) and (max-width: 1281px) {
          font-size: 12px;
          line-height: 17px;
        }
      }
    }
    &__img {
      display: block;
      background-size: cover;
      background-position: center;
      width: 118.23px;
      height: 118.23px;
      @media (min-width:601px) {
        width: 272px;
        height: 272px;
      }
      @media (min-width:601px) and (max-width: 1281px) {
        width: 174.08px;
        height: 174.08px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &__title {
      font-family: 'Evolventa',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 150%;
      letter-spacing: 0.025em;
      color: #000000;
      margin: 13px 0 8px;
      @media (min-width:601px) {
        font-size: 14px;
        margin: 32px 0 42px;
        width: 60%;
      }
      @media (min-width:601px) and (max-width: 1281px) {
        font-size: 10px;
        line-height: 150%;
        margin: 20px 0 30px;
      }
    }
    &__price {
      font-family: 'Noto Sans JP',sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 8px;
      line-height: 164.8%;
      letter-spacing: 0.025em;
      color: #000000;
      width: 50%;
      @media (min-width:601px) {
        width: 40%;
        font-size: 16px;
        margin: 32px 0 42px;
      }
      @media (min-width:601px) and (max-width: 1281px)  {
        margin: 30px 0 30px;
        font-size: 10px;
        line-height: 164.8%;
        text-align: right;
      }
    }
    &__basket {
      font-family: 'Noto Sans JP',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 12px;
      text-align: center;
      letter-spacing: 0.03em;
      text-decoration-line: underline;
      color: #000000;
      position: relative;
      width: 50%;
      @media (min-width:601px) {
        font-size: 16px;
        line-height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media (min-width:601px) and (max-width: 1281px) {
        font-size: 10px;
        line-height: 14px;
      }
      &:before {
        content: '';
        position: absolute;
        background-image: url(../img/pop-prod/arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 16.28px;
        height: 16.28px;
        left: -10px;
        top: 40%;
        transform: translateY(-50%);
        @media (min-width:601px) {
          left: 6px;
          top: 50%;
        }
      }
    }
    &__btn {
      width: 100%;
      width: 119px;
      height: 21px;
      font-family: 'Noto Sans JP',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 8px;
      line-height: 12px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #000000;
      @media (min-width:601px) {
        width: 135px;
        height: 41px;
        font-size: 16px;
        line-height: 23px;
      }
      @media (min-width:601px) and (max-width: 1281px) {
        width: 86.4px;
        height: 26.24px;
        font-size: 10px;
        line-height: 14px;
      }
    }
}