.contact {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    @media (min-width:601px) and (max-width: 1281px) {
        font-size: 12px;
        line-height: 17px;
    }
    &__number {
        color: black;
    }
    &__delivery {

    }
    &:before {
        content: '';
        position: absolute;
        background-image: url(../img/phone.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 30px;
        left: -45px;
        top: 50%;
        transform: translateY(-50%);
        @media (min-width:601px) and (max-width: 1281px) {
            width: 23px;
            height: 23px;
            left: -37px;
        }
    }
}