.filters {
    &__title {
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #000000;
        padding: 8px 7px;
        border-bottom: 1px solid #000000;
        position: relative;
        @media (min-width: 601px) {
            font-size: 16px;
            line-height: 23px;
            padding: 14px 17px;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/catalog/arrow.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 10px;
            height: 5px;
            top: 50%;
            transform: translateY(-50%);
            right: 7px;
            transition: 0.3s ease;
            @media (min-width: 601px) {
                width: 12px;
                height: 6px;
                right: 17px;
            }
        }
        &.active {
            &:before {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    &__drop {
        padding: 35px 0 50px;
        display: flex;
        flex-wrap: wrap; 
    }
    &__checkbox {
        label {
            width: 100%; 
        }
    }
    &__color {
        label {
            width: initial;
            :not(:last-child) {
                margin-right: 45px;
            }
        }
    }
    &__heightheel {
        label {
            width: 50%;
        }
    }
    &__size {
        label {
            width: 50%;
        }
    }

    //checkboxes

    input[type=checkbox] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        cursor: pointer;
    }
    label {
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 15px;
        cursor: pointer;
    }
    input[type=checkbox]+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        &:before {
            content: '';
            display: inline-block;
            position: relative;
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid black;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-position: left 4px top 2px;
            background-size: 80% 80%;
            transition: 0.3s ease;
        }
    }
    input[type=checkbox]:checked+label {
        font-weight: 600;
        color: #000000;
        position: relative;
        &::before {
            background-image: url(../img/catalog/check.svg);  
        }
    }
    &__color {

        input[type=checkbox]+label {
            &:before {
                border: 4px dotted transparent;
                background-size: 0%;
                background-color: var(--my-color-var);
            }
        }
        input[type=checkbox]:checked+label {
            &:before {
                border-color: white;
            }
        }

    }
}