.filters {
    &__title {
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #000000;
        padding: 8px 7px;
        border-bottom: 1px solid #000000;
        position: relative;
        @media (min-width: 601px) {
            font-size: 16px;
            line-height: 23px;
            padding: 14px 17px;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/catalog/arrow.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 10px;
            height: 5px;
            top: 50%;
            transform: translateY(-50%);
            right: 7px;
            @media (min-width: 601px) {
                width: 12px;
                height: 6px;
                right: 17px;
            }
        }
    }
}