.form {
    font-family: 'NotoSansJP',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.025em;
    color: rgba(0, 0, 0, 0.5);
    @media (min-width:601px) {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between ;
        flex-direction: column; 
        max-height: 343px;
        font-size: 16px;
        line-height: 23px;
        position: relative;
        z-index: 3;
    }
    input {
        width: 100%;
        &::placeholder {
            font-family: 'NotoSansJP',sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: 0.025em;
            color: rgba(0, 0, 0, 0.5);
            @media (min-width:601px) {
                font-size: 16px;
                line-height: 23px;
            }
        }
        @media (min-width:601px) {
            width: 48%;
        } 
        &:not([type=submit]) {
            border: none;
            outline: none;
            width: 100%;
            margin-bottom: 35px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            padding-bottom: 12px;
            padding-left: 15px;
            @media (min-width:601px) {
                width: 48%;
                order: 1;
                padding-bottom: 19px;
                padding-left: 14px;
                margin-bottom: 50px;
            }
        }
    }
    &__text {
        width: 100%;
        @media (min-width:601px) {
            width: 48%;
            order: 3;
            height: 343px;
        }
        p {
            width: 100%;
            padding: 12px 15px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-bottom: none;
        }
        textarea {
            resize: none;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.5);
            height: 205px;
            padding: 12px 15px;
            outline: none;
            @media (min-width:601px) {
                padding: 19px 14px;
                height: 285px;
            }
        }
    }
    input[type=submit] {
        border: none;
        height: 42px;
        margin: 35px 0 6px;
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.025em;
        color: #FFFFFF;
        @media (min-width:601px) {
            order: 2;
            height: 53px;
            font-size: 18px;
            line-height: 26px;
            position: absolute;
            bottom: 5px;
        } 
    }
}