.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-family: 'NotoSansJP',sans-serif;
    font-style: normal;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        padding-top: 15px;
        @media (min-width:601px) {
            height: 134px;
            justify-content: flex-end;
        }
    }
    &__btn {
        display: none;
        @media (min-width:820px) {
            display: flex;
            width: 184px;
            height: 40px;
            margin-right: 58px;
        }
        @media (min-width:601px) and (max-width: 1160px) {
            margin-right: 20px;
        }
    }
    &__contact {
        display: none;
        @media (min-width:1000px) {
            display: block;
        }
    }
    &__user {
        display: none;
        @media (min-width:601px) {
            display: block;
            margin-right: 93px;
            a {
                display: block;
                background-image: url(../img/user.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 40px;
                height: 40px;
            }
        }
        @media (min-width:601px) and (max-width: 1160px) {
            margin-right: 60px;
        }
        @media (min-width:601px) and (max-width: 999px) {
            margin-right: 0;
        }
    }
    &__nav {
        width: 100%;
        position: relative;
        @media (min-width:601px) {
            height: 86px;
        }
    }
    &__search {
        order: 1;
        width: 100%;
        position: relative;
        @media (min-width:601px) {
            order: initial;
            width: 189px;
            height: 40px;
            margin-right: 50px;
        }
        @media (min-width:601px) and (max-width: 1160px) {
            margin-right: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/lupa.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 31px;
            height: 31px;
            right: 0;
            bottom: 0;
            @media (min-width:601px) {
                width: 39px;
                height: 39px; 
            }
        }
        input {
            margin-top: 29px;
            width: 90%;
            border: none;
            border-bottom: 2px solid #000000;
            font-weight: normal;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: 0.04em;
            outline: none;
            color: rgba(0, 0, 0, 0.7);
            @media (min-width:601px) {
                margin-top: 0;
                height: 100%;
                width: 80%;
            }
        }
    }
    &__burger {
        position: absolute;
        right: 15px;
        top: 27px;
        height: 23px;
        width: 30px;
        @media (min-width:601px) {
            display: none;
        }
    }
    &__logo {
        width: 103px;
        height: 53px;
        @media (min-width:601px) {
            width: 206px;
            height: 105px;
            position: absolute;
            top: 17px;
            left: 0;
        }
        @media (min-width:601px) and (max-width: 1700px) {
            left: 20px;
        }
    }
    &__basket {
        margin-right: 53px;
        @media (min-width:601px) and (max-width: 1160px) {
            margin-right: 20px;
        }
        @media (min-width:1161px) {
            margin-right: 58px;
        }

    }
}
