//slider-inst
.slider-inst {
  width: 100%;
&__slide {
}
&__wrapper {
    background-color:  #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 163px;
    margin: 0 auto;
    @media (min-width:601px) {
        width: 290px;
        height: 290px;
    }
}
&__img {
    display: block;
    height: 135px;
    width: 135px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width:601px) {
        width: 242px;
        height: 242px;
    }
}

.slick-dots {
    bottom: -35px;
    li {
      width: 61px;
      height: 3px;
      margin: 0;
      &:not(:last-child) {
        margin-right: 14px;
      }
      button {
        width: 61px;
        &:before {
          background-color: rgba(0, 0, 0, 0.7);
          content: '';
          width: 61px;
          height: 3px;
          transition: 0.3s ease;
          top: 50%;
          transform: translateY(-50%);
          opacity: 1;
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: rgba(110, 71, 72, 0.8);
    height: 3px;
  }
  .slick-prev, .slick-next{
    top: 45%;
    &:before {
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 32px;
    }
  }
  .slick-prev:before {
    background-image: url(../img/arrow.svg);
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next:before {
    background-image: url(../img/arrow.svg);
    right: 0px;
  }
}


//slider-intro
.slider-intro {
  &__slide {
    position: relative;
  }
  &__wrapper {

  }
  &__img {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 345px;
    height: 345px;
    margin: 0 auto;
    @media (min-width:601px) {
      width: 852.31px;
      height: 680.31px;
    }
    @media (min-width:601px) and (max-width: 1490px) {
      width: 400.31px;
    }
    @media (min-width:601px) and (max-width: 1000px) {
      width: 600px;
      height: 400px;
    }
  }
  &__info {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 28.3368px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'NotoSansJP',sans-serif;
    font-style: normal;
    width: 345px;
    z-index: 3;
    @media (min-width:601px) {
      left: initial;
      bottom: 71px;
      right: 72px;
      transform: translate(0);
      width: 487px;
    }
    @media (min-width:601px) and (max-width: 1150px) {
      right: initial;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (min-width:601px) and (max-width: 1000px) {
      right: 0;
      left: initial;
      transform: translate(0);
      bottom: 0;
    }
    span {
      font-weight: 300;
      font-size: 8.50103px;
      line-height: 12px;
      color: #000000;
      @media (min-width:601px) {
        font-size: 12px;
        line-height: 17px;
      }
    }
    h2 {
      font-family: 'TRY Vesterbro',sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15.5852px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #000000;
      margin: 5px 0 8px;
      @media (min-width:601px) {
        font-size: 22px;
        line-height: 26px;
        margin: 6px 0 11px;
      }
    }
    p {
      font-family: 'NotoSansJP',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 164.8%;
      letter-spacing: 0.025em;
      margin-bottom: 30px;
      color: #000000;
      @media (min-width:601px) {
        font-size: 14px;
        line-height: 164.8%;
      }
      span {
        font-weight: bold;
        font-size: 14px;
        line-height: 164.8%;
        @media (min-width:601px) {
          font-size: 14px;
          line-height: 164.8%;
        }
      }
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 12.7515px;
      line-height: 164.8%;
      letter-spacing: 0.025em;
      color: #000000;
      @media (min-width:601px) {
        font-size: 18px;
      }
      &:first-child {
        font-weight: 300;
        text-decoration-line: line-through;
      }
      &:not(:first-child) {
        margin-right: 30px;
        @media (min-width:601px) {
          margin-right: 50px;
        }
      }
    }
  }
  &__btn {
    width: 85px;
    height: 27px;
    font-weight: bold;
    font-size: 9.91786px;
    line-height: 164.8%;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    @media (min-width:601px) {
      width: 120px;
      height: 38px;
      font-size: 14px;
    }
  }
  .slick-list {
    padding-bottom: 125px;
    @media (min-width:601px) {
      padding-bottom: 0;
    }
  }
  .slick-dots {
    bottom: -35px;
    text-align: left;
    padding-left: 15px;
    @media (min-width:601px) {
      bottom: 10px;
      padding-left: 37px;
    }
    li {
      width: 61px;
      height: 3px;
      margin: 0;
      @media (min-width:601px) {
        width: 87px;
      }
      &:not(:last-child) {
        margin-right: 14px;
        @media (min-width:601px) {
          margin-right: 21px;
        }
      }
      button {
        width: 61px;
        @media (min-width:601px) {
          width: 87px;
        }
        &:before {
          background-color: rgba(0, 0, 0, 0.7);
          content: '';
          width: 61px;
          height: 3px;
          transition: 0.3s ease;
          top: 50%;
          transform: translateY(-50%);
          opacity: 1;
          @media (min-width:601px) {
            width: 87px;
          }
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: rgba(110, 71, 72, 0.8);
    height: 3px;
  }
}


//slider-pop-prod

.slider-pop-prod {
  .slick-dots {
    bottom: -60px;
    @media (min-width:601px) {
      bottom: initial;
      top: -60px;
      text-align: right;
      padding-right: 45px;
    }
    li {
      width: 61px;
      height: 3px;
      margin: 0;
      @media (min-width:601px) {
        width: 87px;
      }
      &:not(:last-child) {
        margin-right: 14px;
      }
      button {
        width: 61px;
        @media (min-width:601px) {
          width: 87px;
        }
        &:before {
          background-color: rgba(0, 0, 0, 0.7);
          content: '';
          width: 61px;
          height: 3px;
          transition: 0.3s ease;
          top: 50%;
          transform: translateY(-50%);
          opacity: 1;
          @media (min-width:601px) {
            width: 87px;
          }
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: rgba(110, 71, 72, 0.8);
    height: 3px;
  }
  .slick-prev, .slick-next{
    top: 45%;
    &:before {
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 32px;
    }
  }
  .slick-prev:before {
    background-image: url(../img/arrow.svg);
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next:before {
    background-image: url(../img/arrow.svg);
    right: 0px;
  }
}