//slider-inst
.slider-inst {
  width: 100%;
&__slide {
}
&__wrapper {
    background-color:  #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 163px;
    margin: 0 auto;
    @media (min-width:601px) {
      width: 290px;
      height: 290px;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
      width: 197px;
      height: 197px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
      width: 132.79px;
      height: 132.79px;
    }
}
&__img {
    display: block;
    height: 135px;
    width: 135px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width:601px) {
      width: 242px;
      height: 242px;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
      width: 164px;
      height: 164px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
      width: 109.87px;
      height: 110.55px;
    }
}

.slick-dots {
    bottom: -35px;
    li {
      width: 61px;
      height: 3px;
      margin: 0;
      &:not(:last-child) {
        margin-right: 14px;
      }
      button {
        width: 61px;
        &:before {
          background-color: rgba(0, 0, 0, 0.7);
          content: '';
          width: 61px;
          height: 3px;
          transition: 0.3s ease;
          top: 50%;
          transform: translateY(-50%);
          opacity: 1;
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: rgba(110, 71, 72, 0.8);
    height: 3px;
  }
  .slick-prev, .slick-next{
    top: 45%;
    &:before {
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 32px;
      @media (min-width:601px) and (max-width: 1199px) {
        width: 7.41px;
        height: 14.16px;
      }
    }
  }
  .slick-prev:before {
    background-image: url(../img/arrow.svg);
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next:before {
    background-image: url(../img/arrow.svg);
    right: 0px;
  }
}


//slider-intro
.slider-intro {
  &__slide {
    position: relative;
  }
  &__wrapper {

  }
  &__img {
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 345px;
    height: 345px;
    margin: 0 auto;
    @media (min-width:601px) {
      width: 852.31px;
      height: 680.31px;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
      width: 508px;
      height: 400px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
      width: 399px;
      height: 278px;
    }
  }
  &__info {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 28.3368px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'NotoSansJP',sans-serif;
    font-style: normal;
    width: 345px;
    z-index: 3;
    @media (min-width:601px) {
      left: initial;
      bottom: 71px;
      right: 72px;
      transform: translate(0);
      width: 487px;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
      width: 290.27px;
      height: 137.09px;
      padding: 23px 25px;
      bottom: 15px;
      left: initial;
      right: 62px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
      width: 194px;
      height: 87px;
      padding: 2px 16px 4px;
      bottom: 29px;
      left: initial;
      right: 30px;
    }
    span {
      font-weight: 300;
      font-size: 8.50103px;
      line-height: 12px;
      color: #000000;
      @media (min-width:601px) {
        font-size: 12px;
        line-height: 17px;
      }
      @media (min-width:1200px) and (max-width: 1601px) {
        font-size: 8px;
        line-height: 12px;
      }
      @media (min-width:601px) and (max-width: 1199px) {
        font-size: 6px;
        line-height: 9px;
      }
    }
    h2 {
      font-family: 'TRY Vesterbro',sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15.5852px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #000000;
      margin: 5px 0 8px;
      @media (min-width:601px) {
        font-size: 22px;
        line-height: 26px;
        margin: 6px 0 11px;
      }
      @media (min-width:1200px) and (max-width: 1601px)  {
        font-size: 14px;
        line-height: 17px;
        margin: 6px 0 5px;
      }
      @media (min-width:601px) and (max-width: 1199px) {
        font-size: 10px;
        line-height: 12px;
        margin: 5px 0 4px;
      }
    }
    p {
      font-family: 'NotoSansJP',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 164.8%;
      letter-spacing: 0.025em;
      margin-bottom: 30px;
      color: #000000;
      @media (min-width:601px) {
        font-size: 14px;
      }
      @media (min-width:1200px) and (max-width: 1601px) {
        font-size: 8px;
        margin-bottom: 14px;
      }
      @media (min-width:601px) and (max-width: 1199px) {
        font-size: 6px;
        margin-bottom: 11px;
      }
      span {
        font-weight: bold;
        font-size: 14px;
        line-height: 164.8%;
        @media (min-width:601px) {
          font-size: 14px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
          font-size: 10px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
          font-size: 7px;
        }
      }
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 12.7515px;
      line-height: 164.8%;
      letter-spacing: 0.025em;
      color: #000000;
      @media (min-width:601px) {
        font-size: 18px;
      }
      @media (min-width:1200px) and (max-width: 1601px) {
        font-size: 11px;
      }
      @media (min-width:601px) and (max-width: 1199px) {
        font-size: 8px;
      }
      &:first-child {
        font-weight: 300;
        text-decoration-line: line-through;
      }
      &:not(:first-child) {
        margin-right: 30px;
        @media (min-width:601px) {
          margin-right: 50px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
          margin-right: 10px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
          margin-right: 16px;
        }
      }
    }
  }
  &__btn {
    width: 85px;
    height: 27px;
    font-weight: bold;
    font-size: 9.91786px;
    line-height: 164.8%;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    @media (min-width:601px) {
      width: 120px;
      height: 38px;
      font-size: 14px;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
      width: 71.52px;
      height: 22.65px;
      font-size: 8px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
      width: 49px;
      height: 14px;
      font-size: 6px;
      line-height: 134.8%;
    }
  }
  .slick-list {
    padding-bottom: 125px;
    @media (min-width:601px) {
      padding-bottom: 0;
    }
  }
  .slick-dots {
    bottom: -35px;
    text-align: left;
    padding-left: 15px;
    @media (min-width:601px) {
      bottom: 10px;
      padding-left: 37px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
      bottom: 17px;
      padding-left: 24px;
    }
    li {
      width: 61px;
      height: 3px;
      margin: 0;
      @media (min-width:601px) {
        width: 87px;
      }
      @media (min-width:601px) and (max-width: 1199px) {
        width: 36.1px;
        height: 2px;
      }
      @media (min-width:1200px) and (max-width: 1601px) {
        width: 57px;
      }
      &:not(:last-child) {
        margin-right: 14px;
        @media (min-width:601px) {
          margin-right: 21px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
          margin-right: 8px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
          margin-right: 13px;
        }
      }
      button {
        width: 61px;
        @media (min-width:601px) {
          width: 87px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
          width: 57px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
          width: 36.1px;
        }
        &:before {
          background-color: rgba(0, 0, 0, 0.7);
          content: '';
          width: 61px;
          height: 3px;
          transition: 0.3s ease;
          top: 50%;
          transform: translateY(-50%);
          opacity: 1;
          @media (min-width:601px) {
            width: 87px;
          }
          @media (min-width:1200px) and (max-width: 1601px) {
            width: 57px;
          }
          @media (min-width:601px) and (max-width: 1199px) {
            width: 36.1px;
            height: 2px;
          }
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: rgba(110, 71, 72, 0.8);
    height: 3px;
    @media (min-width:601px) and (max-width: 1199px) {
      height: 2px;
    }
  }
}


//slider-pop-prod

.slider-pop-prod {
  .slick-dots {
    bottom: -60px;
    @media (min-width:601px) {
      bottom: initial;
      top: -60px;
      text-align: right;
      padding-right: 45px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
      padding-right: 6px;
      top: -40px;
    }
    li {
      width: 61px;
      height: 3px;
      margin: 0;
      @media (min-width:601px) {
        width: 87px;
      }
      @media (min-width:1200px) and (max-width: 1601px) {
        width: 68px;
      }
      @media (min-width:601px) and (max-width: 1199px) {
        width: 36.1px;
        height: 2px;
      }
      &:not(:last-child) {
        margin-right: 14px;
        @media (min-width:1200px) and (max-width: 1601px) {
          margin-right: 17px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
          margin-right: 12px;
        }
      }
      button {
        width: 61px;
        @media (min-width:601px) {
          width: 87px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
          width: 68px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
          width: 36.1px;
        }
        &:before {
          background-color: rgba(0, 0, 0, 0.7);
          content: '';
          width: 61px;
          height: 3px;
          transition: 0.3s ease;
          top: 50%;
          transform: translateY(-50%);
          opacity: 1;
          @media (min-width:601px) {
            width: 87px;
          }
          @media (min-width:1200px) and (max-width: 1601px) {
            width: 68px;
          }
          @media (min-width:601px) and (max-width: 1199px) {
            width: 36.1px;
            height: 2px;
          }
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: rgba(110, 71, 72, 0.8);
    height: 3px;
    @media (min-width:601px) and (max-width: 1199px) {
      height: 2px;
    }
  }
  .slick-prev, .slick-next{
    top: 45%;
    &:before {
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 32px;
    }
  }
  .slick-prev:before {
    background-image: url(../img/arrow.svg);
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next:before {
    background-image: url(../img/arrow.svg);
    right: 0px;
  }
}

.product-slider {
  &-main {
    width: 100%;  
    margin-bottom: 20px;
    @media (min-width:601px) {
      margin-bottom: 218px;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
      margin-bottom: 147px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
      margin-bottom: 100px;
    }
    &__slide {
      width: 319px;
      height: 200px;
      @media (min-width:601px) {
        width: 837px;
        height: 340px;
      }
      @media (min-width:1200px) and (max-width: 1601px) {
        width: 564.97px;
        height: 229.5px;
      }
      @media (min-width:601px) and (max-width: 1199px) {
        width: 380.83px;
        height: 154.7px;
      }
    }
    &__img {
      display: block;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
    .slick-slide {
      margin: 0 30px;
    }
    .slick-list {
      margin: 0 -30px;
    }
  }
  &-nav {
    width: 100%;
    &__slide {
      width: 80px;
      height: 80px;
      @media (min-width:601px) {
        width: 205px;
        height: 205px;
      }
      @media (min-width:1200px) and (max-width: 1601px) {
        width: 138.38px;
        height: 138.38px;
      }
      @media (min-width:601px) and (max-width: 1199px) {
        width: 93.28px;
        height: 93.28px;
      }
    }
    &__img {
      display: block;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
    .slick-slide {
      margin: 0 10px;
    }
    .slick-list {
      margin: 0 -10px;
    }
  }
}

.slider-payment {
  &__slide {
    a {
      display: block;
      width: 163px;
      height: 163px;
      border: 1px solid #000000;
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
      @media (min-width:601px) {
        width: 230px;
        height: 230px;
      }
      @media (min-width:1200px) and (max-width: 1601px) {
        width: 147.86px;
        height: 147.86px;
      }
      @media (min-width:601px) and (max-width: 1199px) {
        width: 152.01px;
        height: 152.01px;
      }
    }
  }
  .slick-slide {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  .slick-dots {
    bottom: -60px;
    li {
      width: 61px;
      height: 3px;
      margin: 0;
      @media (min-width:601px) {
        width: 87px;
      }
      @media (min-width:1200px) and (max-width: 1601px) {
        width: 56px;
      }
      &:not(:last-child) {
        margin-right: 14px;
      }
      button {
        width: 61px;
        @media (min-width:601px) {
          width: 87px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
          width: 56px;
        }
        &:before {
          background-color: rgba(0, 0, 0, 0.7);
          content: '';
          width: 61px;
          height: 3px;
          transition: 0.3s ease;
          top: 50%;
          transform: translateY(-50%);
          opacity: 1;
          @media (min-width:601px) {
            width: 87px;
          }
          @media (min-width:1200px) and (max-width: 1601px) {
            width: 56px;
          }
        }
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: rgba(110, 71, 72, 0.8);
    height: 3px;
  }
  .slick-prev, .slick-next{
    top: 45%;
    &:before {
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 32px;
    }
  }
  .slick-prev:before {
    background-image: url(../img/arrow.svg);
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next:before {
    background-image: url(../img/arrow.svg);
    right: 0px;
  }
}