.wrapper {
    max-width: 1680px;
    margin: 0 auto;
    @media (max-width: 600px) {
        padding: 0 15px;
    }
    @media (min-width:601px) and (max-width: 1700px) {
        padding: 0 0;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
        padding: 0;
        max-width: 1080px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
        max-width: 728px;
    }
}
