.footer {
    &__main {
        background-color: #F2F2F2;
    }
    &__content {
        padding: 44px 0 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        @media (min-width: 601px) {
            justify-content: space-between;
            padding: 127px 0 111px;
        }
        @media (min-width: 601px) and (max-width:1360px) {
            padding: 50px 0 45px;
        }
        h4 {
            font-family: 'Evolventa',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 10px;
            @media (min-width: 601px) {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 16px;
            }
        }
    }
    &__logo {
        width: 100%;
        height: 139px;
        @media (min-width: 601px) {
            margin-top: -15px;
            width: 329px;
            height: 167px;
        }
        @media (min-width: 601px) and (max-width:1360px) {
            width: 100%;
            margin-bottom: 50px;
        }
    }
    &__nav {
        margin: 44px 0 26px;
        width: 50%;
        display: flex;
        flex-direction: column;
        @media (min-width: 601px) {
            width: initial;
            margin:0;
            max-width: 240px;
        }
        @media (min-width: 601px) and (max-width:921px) {
            margin-bottom: 30px;
        }
        a {
            font-family: 'NotoSansJP',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: #000000;
            @media (min-width: 601px) {
                font-size: 18px;
                line-height: 26px;
            }
            &:not(:last-child) {
                margin-bottom: 11px;
                @media (min-width: 601px) {
                    margin-bottom: 13px;
                }
            }
        }
    }
    &__contact {
        width: 50%;
        @media (min-width: 601px) {
            width: initial;
        }
        p {
            font-family: 'NotoSansJP',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: #000000;
            @media (min-width: 601px) {
                font-size: 18px;
                line-height: 26px;
            }
            a {
                color: black;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    &__phone {

    }
    &__mail {
        margin-top: 10px;
        a {
            text-transform: lowercase;
            text-decoration: underline;
        }
    }
    &__connect {
        width: 50%;
        @media (min-width: 601px) {
            width: initial;
        }
    }
    &__soc {
        a {
            display: inline-flex;
            background-color: #688C8C;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
            @media (min-width: 601px) {
                height: 45px;
                width: 45px;
                background-size: 26px 26px;
            }
            &:not(:last-child) {
                margin-right: 10px;
                @media (min-width: 601px) {
                    margin-right: 16px;
                }
            }
        }
    }
    &__btn {
        margin-top: 11px;
        box-shadow: 0px 0px 20px rgba(110, 71, 72, 0.1);
        width: 162px;
        height: 28px;
        font-weight: bold;
        font-size: 10px;
        line-height: 14px;
        @media (min-width: 601px) {
            margin-top: 35px;
            width: 179px;
            height: 37px;
            font-size: 14px;
            line-height: 20px;
        }
    }
    &__cop {
        border-top: 1px solid #000000;
        padding: 15px 0 17px;
        background-color: #F2F2F2;
        @media (min-width: 601px) {
            padding: 34px 0 39px;
        }
        h4 {
            font-family: 'Noto Sans JP',sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 17px;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: #000000;
            text-align: center;
            @media (min-width: 601px) {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

}