<div class="profile">
    <div class="wrapper">
        <div class="profile__title title">
            <h1>ЛИЧНЫЙ КАБИНЕТ</h1>
        </div>
        <p>В личном кабинете Вы можете проверить текущее состояние корзины, ход выполнения Ваших заказов, просмотреть или изменить личную информацию, а также подписаться на новости и другие информационные рассылки.</p>
    </div>

    <div class="profile__content">
        <div class="wrapper">
            <div class="profile__links">
                <div class="profile__link">
                    <a class="profile__img" style="background-image: url(img/profile/1.svg);"></a><a class="profile__text">ИНФОРМАЦИЯ О ЗАКАЗЕ</a>
                </div>
                <div class="profile__link">
                    <a class="profile__img" style="background-image: url(img/profile/2.svg);"></a><a class="profile__text">МОЯ ИНФОРМАЦИЯ</a>
                </div>
                <div class="profile__link">
                    <a class="profile__img" style="background-image: url(img/profile/3.svg);"></a><a class="profile__text">АДРЕСНАЯ КНИГА</a>
                </div>
                <div class="profile__link">
                    <a class="profile__img" style="background-image: url(img/profile/4.svg);"></a><a class="profile__text">МОЯ КОРЗИНА </a>
                </div>
            </div>
        </div>
    </div>
    
</div>