<div class="insta">
    <div class="wrapper">

        <div class="insta__title title">
            <h2>Наш инстаграм</h2>
            <p>Получайте акции и узнавайте о новейших скидках в инстаграме.</p>
        </div>

        <div class="insta__content">

            <div class="insta__slider">

                <div class="slider-inst">

                    <div class="slider-inst__slide">
                        <div class="slider-inst__wrapper">
                            <a class="slider-inst__img" style="background-image: url(img/footer/slider-inst/1.jpg);"></a>
                        </div>
                    </div>

                    <div class="slider-inst__slide">
                        <div class="slider-inst__wrapper">
                            <a class="slider-inst__img" style="background-image: url(img/footer/slider-inst/2.jpg);"></a>
                        </div>
                    </div>

                    <div class="slider-inst__slide">
                        <div class="slider-inst__wrapper">
                            <a class="slider-inst__img" style="background-image: url(img/footer/slider-inst/3.jpg);"></a>
                        </div>
                    </div>

                    <div class="slider-inst__slide">
                        <div class="slider-inst__wrapper">
                            <a class="slider-inst__img" style="background-image: url(img/footer/slider-inst/1.jpg);"></a>
                        </div>
                    </div>

                    <div class="slider-inst__slide">
                        <div class="slider-inst__wrapper">
                            <a class="slider-inst__img" style="background-image: url(img/footer/slider-inst/2.jpg);"></a>
                        </div>
                    </div>

                    <div class="slider-inst__slide">
                        <div class="slider-inst__wrapper">
                            <a class="slider-inst__img" style="background-image: url(img/footer/slider-inst/3.jpg);"></a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="insta__card">
                <a class="insta__img"></a>
            </div>

        </div>

    </div>
</div>