<div class="footer__main">
    <div class="wrapper">
        <div class="footer__content">

            <div class="footer__logo">
                <a class="logo"></a>
            </div>

            <div class="footer__nav">
                <a href="company.html">О КОМПАНИИ</a>
                <a href="shops.html">МАГАЗИНЫ</a>
                <a href="contacts.html">КОНТАКТЫ</a>
                <a href="politic.html">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
            </div>

            <div class="footer__nav">
                <a href="profile.html">ЛИЧНЫЙ КАБИНЕТ</a>
                <a href="">ВОПРОС-ОТВЕТ</a>
                <a href="">ДОСТАВКА И ОПЛАТА</a>
                <a href="">ВОЗВРАТ ТОВАРА</a>
            </div>

            <div class="footer__contact">
                <h4>Контакты</h4>
                <p class="footer__phone">Телефон: <a href="tel:+79655388831">+7 (965) 538-88-31</a></p>
                <p class="footer__mail">E-mail: <a href="mailto:SHOP@TOMMYROY.RU">SHOP@TOMMYROY.RU</a></p>
            </div>

            <div class="footer__connect">
                <h4>Соцсети</h4>
                <div class="footer__soc">
                    <a class="btn" href="" style="background-image: url(img/footer/inst.svg);"></a>
                    <a class="btn" href="" style="background-image: url(img/footer/face.svg);"></a>
                    <a class="btn" href="" style="background-image: url(img/footer/vk.svg);"></a>
                </div>
                <a href="" class="btn footer__btn">Обратный звонок</a>
            </div>

        </div>
    </div>
    <div class="footer__cop">
        <h4>© 2021 tommy roy Все права сохранены</h4>
    </div>
</div>