.product-card {
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 66px;
        @media (min-width:601px) {
            padding-top: 140px;
            padding-bottom: 120px;
        }
        @media (min-width:601px) and (max-width: 1281px){
            padding-top: 60px;
            padding-bottom: 40px;
        }
    }
    &__slider {
        width: 100%;
        overflow: hidden;
        padding-bottom: 30px;
        @media (min-width:601px) {
            width: 53%;
            padding-top: 80px;
        }
        @media (min-width:601px) and (max-width:900px) {
            width: 35%;
        }
    }
    &__info {
        width: 100%;
        @media (min-width:601px) {
            width: 35%;
        }
        @media (min-width:601px) and (max-width:900px) {
            width: 60%;
        }
    }
    &__title {
        font-family: 'Evolventa',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #000000;
        @media (min-width:601px) {
            font-size: 40px;
            line-height: 53px;
        }
        @media (min-width:601px) and (max-width: 1281px) {
            font-size: 24px;
            line-height: 32px;
        }
    }
    &__art {
        font-family: 'Noto Sans JP',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 17px;
        color: #000000;
        margin: 13px 0 35px;
        @media (min-width:601px) {
            font-size: 18px;
            line-height: 26px;
            margin: 30px 0 57px;
        }
        @media (min-width:601px) and (max-width: 1281px) {
            font-size: 14px;
            line-height: 20px;
            margin: 20px 0 35px;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;  
        align-items: center;   
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        a {
            display: inline-flex;
        }
        &-old {
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            text-decoration-line: line-through;
            @media (min-width:601px) {
                font-size: 24px;
                line-height: 35px;
            }
            @media (min-width:601px) and (max-width: 1281px) {
                font-size: 16px;
                line-height: 23px;
            }
        }
        &-new {
            font-weight: bold;
            font-size: 23px;
            line-height: 164.8%;
            letter-spacing: 0.025em;
            color: #000000;
            @media (min-width:601px) {
                font-size: 30px;
            }
            @media (min-width:601px) and (max-width: 1281px) {
                font-size: 20px;
                line-height: 164.8%;
            }
        }
        &-dis {
            font-weight: bold;
            font-size: 15px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            width: 62px;
            height: 37px;
            justify-content: center;
            align-items: center;
            @media (min-width:601px) {
                width: 81px;
                height: 48px;
                font-size: 20px;
                line-height: 29px;
            }
            @media (min-width:601px) and (max-width: 1281px) {
                width: 54.67px;
                height: 32.4px;
                font-size: 14px;
                line-height: 20px;
            }
            &_red {
                background: #FF4342;
                box-shadow: 0px 0px 7.66667px rgba(209, 194, 116, 0.3);
            }
        }
    }
    &__size {
        padding: 10px 9px;
        border-bottom: 1px solid #000000;
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #000000;
        margin: 30px 0 20px;
        @media (min-width:601px) {
            margin: 57px 0 35px;
            font-size: 18px;
            line-height: 26px;
        }
        @media (min-width:601px) and (max-width: 1281px) {
            font-size: 14px;
            line-height: 20px;
            margin: 33px 0 23px;
        }
        &-change {
            display: flex;
            justify-content: space-between;
            @media (min-width:601px) {
                justify-content: flex-start;
            }
            a {
                width: 46px;
                height: 46px;
                border: 1px solid #000000;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'NotoSansJP',sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                color: #000000;
                transition: 0.3s ease;
                cursor: pointer;
                @media (min-width:601px) {
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    line-height: 28px;
                }
                @media (min-width:601px) and (max-width: 1281px) {
                    width: 33.75px;
                    height: 33.75px;
                    font-size: 13px;
                    line-height: 19px;
                }
                &.active {
                    border-color: #688C8C;
                    background-color: #688C8C;
                    color: white;
                }
                &:not(:last-child) {
                    @media (min-width:601px) {
                        margin-right: 30px;
                    }
                    @media (min-width:601px) and (max-width: 1281px) {
                        margin-right: 20px;
                    }
                }
            }
        }
        &-table {
            margin: 20px 0 40px;
            display: block;
            text-align: right;
            font-family: 'NotoSansJP',sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 17px;
            text-decoration-line: underline;
            color: #000000;
            transition: 0.3s ease;
            @media (min-width:601px) {
                margin: 30px 0 50px;
                font-size: 14px;
                line-height: 20px;
            }
            @media (min-width:601px) and (max-width: 1281px) {
                font-size: 10px;
                line-height: 14px;
                margin: 20px 0 34px;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &__quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        @media (min-width:601px) {
            justify-content: flex-start;
            font-size: 18px;
            line-height: 26px;
        }
        @media (min-width:601px) and (max-width: 1281px) {
            font-size: 12px;
            line-height: 17px;
        }
        &-change {
            display: flex;
            @media (min-width:601px) {
                margin-left: 55px;
            }
            @media (min-width:601px) and (max-width: 1281px) {
                margin-left: 37px;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                border: 1px solid #000000;
                font-weight: 500;
                font-size: 21.28px;
                line-height: 31px;
                text-align: center;
                color: #000000;
                cursor: pointer;
                @media (min-width:601px) {
                    width: 40px;
                    height: 40px;
                    font-size: 24px;
                    line-height: 35px;
                }
                @media (min-width:601px) and (max-width: 1281px) {
                    width: 27px;
                    height: 27px;
                    font-size: 12px;
                    line-height: 17px;
                }
                &:not(:last-child) {
                    margin-right: 13px;
                    @media (min-width:601px) {
                        margin-right: 15px;
                    }
                    @media (min-width:601px) and (max-width: 1281px) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    &__btn {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width:601px) {
            justify-content: space-between;
            margin: 30px 0 50px; 
        }
        @media (min-width:601px) and (max-width: 1281px) {
            margin: 20px 0 33px;
        }
        &-basket {
            width: 100%;
            height: 44px;
            font-family: 'NotoSansJP',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            @media (min-width:601px) {
                width: 260px;
                height: 48px;
                font-size: 16px;
                line-height: 23px;
            }
            @media (min-width:601px) and (max-width:900px) {
                width: 100%;
            }
            @media (min-width:601px) and (max-width: 1281px) {
                width: 175.5px;
                height: 32.4px;
                font-size: 12px;
                line-height: 17px;
            }
        }
        &-buy {
            margin-top: 20px;
            width: 160px;
            height: 40px;
            font-family: 'NotoSansJP',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #000000;
            @media (min-width:601px) {
                height: 48px;
                font-size: 16px;
                line-height: 23px;
            }
            @media (min-width:1240px) {
                margin-top: 0;
            }
            @media (min-width:601px) and (max-width: 1281px) {
                width: 108px;
                height: 32.4px;
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
    &__char {
        h3 {
            font-family: 'NotoSansJP',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 20px;
            @media (min-width:601px) {
                font-size: 24px;
                line-height: 35px;
                margin-bottom: 30px;
            }
            @media (min-width:601px) and (max-width: 1281px) {
                font-size: 16px;
                line-height: 23px;
                margin-bottom: 20px;
            }
        }
        p {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-family: 'NotoSansJP',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 17px;
            color: #000000;
            @media (min-width:601px) {
                font-size: 18px;
                line-height: 26px;
            }
            @media (min-width:601px) and (max-width: 1281px) {
                font-size: 12px;
                line-height: 17px;
            }
            span {
                font-weight: 300;
            }
            &:not(:last-child) {
                margin-bottom: 12px;
                @media (min-width:601px) {
                    margin-bottom: 20px; 
                }
                @media (min-width:601px) and (max-width: 1281px) {
                    margin-bottom: 13px;
                }
            }
        }
    }
}