.shops {
    padding-bottom: 56px;
    @media (min-width:601px) {
        padding-bottom: 120px;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
        padding-bottom: 80px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
        padding-bottom: 30px;
    }
    &__title {
    }
    &__content {
        @media (min-width:601px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 70px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            margin-top: 50px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            margin-top: 20px;
        }
    }
    &__contain {
        border: 0.5px solid #000000;
        padding: 27px 20px 27px 25px;
        margin-bottom: 20px;
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        @media (min-width:601px) {
            width: 100%;
            padding: 46px 20px 45px 50px;
            margin-bottom: 60px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            margin-bottom: 40px;
            padding: 30px 33px 50px 33px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            padding: 20px 22px 30px;
            margin-bottom: 26px;
        }
    }
    &__msk {
        @media (min-width:601px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &-right {
            @media (min-width:601px) {
                width: 49%;
            }
        }
        &-left {
            @media (min-width:601px) {
                width: 49%;
            }
        }
    }
    &__ivan {
        @media (min-width:601px) {
            width: 48%;
        }
    }
    &__yar {
        @media (min-width:601px) {
            width: 48%;
        }
    }
    &__smalltitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #000000;
        @media (min-width:601px) {
            width: 100%;
            font-size: 24px;
            line-height: 35px;
        }
        @media (min-width:1200px) and (max-width: 1601px)  {
            font-size: 16px;
            line-height: 23px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            font-size: 12px;
            line-height: 17px;
        }
    }
    &__lowtitle {
        font-weight: bold;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #000000;
        margin: 19px 0 14px;
        @media (min-width:601px) {
            font-size: 18px;
            line-height: 26px;
            margin: 60px 0 20px;
        }
        @media (min-width:1200px) and (max-width: 1601px)  {
            margin: 40px 0 11px;
            font-size: 12px;
            line-height: 17px;
        }
        @media (min-width:601px) and (max-width: 1199px)  {
            margin: 26px 0 12px;
            font-size: 10px;
            line-height: 14px;
        }
    }
    &__adres {
        font-weight: 300;
        font-size: 12px;
        line-height: 180%;
        letter-spacing: 0.12em;
        color: #000000;
        margin-top: 30px;
        @media (min-width:601px) {
            font-size: 18px;
            line-height: 180%;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            font-size: 12px;
            line-height: 180%;
            margin-top: 20px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            font-size: 10px;
            line-height: 180%;
            margin-top: 13px;
        }
    }
    &__number {
        font-weight: 300;
        font-size: 12px;
        line-height: 180%;
        letter-spacing: 0.12em;
        color: #000000;
        position: relative;
        margin-left: 36px;
        @media (min-width:601px) {
            font-size: 18px; 
            margin-left: 51px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            font-size: 12px;
            line-height: 180%;
            margin-left: 33px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            font-size: 10px;
            margin-left: 22px;
        }
        &::before {
            content: '';
            position: absolute;
            left: -36px;
            background-color: #688C8C;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-image: url(../img/shops/phone.svg);
            background-size: 15px 15px;
            background-position: center;
            background-repeat: no-repeat;
            top: -2px;
            @media (min-width:601px) {
                width: 38px;
                height: 38px;
                left: -51px;
                background-size: 22px 22px;
            }
            @media (min-width:1200px) and (max-width: 1601px) {
                width: 25px;
                height: 25px;
                left: -33px;
                background-size: 12px 12px;
            }
            @media (min-width:601px) and (max-width: 1199px) {
                width: 16.47px;
                height: 16.47px;
                background-size: 9px 9px;
                left: -22px;
                top: 0;
            }
        }
    }
    &__time {
        font-weight: 300;
        font-size: 12px;
        line-height: 180%;
        letter-spacing: 0.12em;
        color: #000000;
        position: relative;
        margin-left: 36px;
        @media (min-width:601px) {
            font-size: 18px; 
            margin-left: 51px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            font-size: 12px;
            line-height: 180%;
            margin-left: 33px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            font-size: 10px;
            margin-left: 22px;
        }
        &::before {
            content: '';
            position: absolute;
            left: -36px;
            top: -2px;
            background-color: #688C8C;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-image: url(../img/shops/time.svg);
            background-size: 15px 15px;
            background-position: center;
            background-repeat: no-repeat;
            @media (min-width:601px) {
                width: 38px;
                height: 38px;
                left: -51px;
                background-size: 22px 22px;
            }
            @media (min-width:1200px) and (max-width: 1601px) {
                width: 25px;
                height: 25px;
                left: -33px;
                background-size: 12px 12px;
            }
            @media (min-width:601px) and (max-width: 1199px) {
                width: 16.47px;
                height: 16.47px;
                background-size: 9px 9px;
                left: -22px;
                top: 0;
            }
        }
    }
    &__map {
        margin-top: 55px;
        position: relative;
        @media (min-width:601px) {
            margin-top: 60px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            margin-top: 40px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            margin-top: 15px;
        }
        iframe {
            width: 100%;
            height: 389px;
            @media (min-width:601px) {
                height: 900px;
            }
            @media (min-width:1200px) and (max-width: 1601px) {
                height: 600px;
            }
            @media (min-width:601px) and (max-width: 1199px) {
                height: 350px;
            }
        }
        &-btn {
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            bottom: 24px;
            width: 162px;
            height: 25px;
            font-family: 'NotoSansJP',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 8px;
            line-height: 12px;
            text-align: center;
            letter-spacing: 0.12em;
            color: #FFFFFF;
            @media (min-width:601px) {
                left: 120px;
                bottom: initial;
                transform: translateX(0);
                top: 84px;
                width: 388px;
                height: 60px;
                font-size: 18px;
                line-height: 26px;
            }
            @media (min-width:1200px) and (max-width: 1601px) {
                width: 258.67px;
                height: 40px;
                font-size: 12px;
                line-height: 17px;
                top: 56px;
                left: 80px;
            }
            @media (min-width:601px) and (max-width: 1199px) {
                width: 216px;
                height: 33.4px;
                font-size: 10.0206px;
                line-height: 14px;
                top: 35px;
                left: 20px;
            }
        }
    }
}