.backconnect {
    padding-top: 26px;
    padding-bottom: 340px;
    @media (min-width:601px) {
        padding-bottom: 257px;
        padding-top: 130px;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
        padding: 160px 0 200px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
        padding: 108px 0 130px;
    }
    position: relative;
    &__form {
        width: 100%;
        @media (min-width:601px) {
            width: 48%;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            width: 531px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            width: 349px;
        }
    }
    &__img {
        width: 360px;
        height: 330px;
        position: absolute;
        bottom: 0;
        right: 0;
        @media (min-width:601px) {
            width: 911px;
            height: 835.38px;
            bottom: initial;
            top: 50%;
            transform: translateY(-50%);
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            width: 526.41px;
            height: 526.41px;
            top: 55%;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            width: 378px;
            height: 347px;
            top: 55%;
        }
        a {
            display: block;
            background-image: url(../img/contacts/back.png);
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}