.greenline {
    background-color: #688C8C;
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 25px 0 30px;
        @media (min-width: 601px) {
            padding: 45px 0;
            align-items: center;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            padding: 18px 0;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            padding: 20px 0;
        }
    }
    h3 {
        font-family: 'Evolventa',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 100%;
        @media (min-width: 601px) {
            font-size: 24px;
            line-height: 32px;
            width: initial;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            font-size: 18px;
            line-height: 24px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            font-size: 14px;
            line-height: 19px;
        }
    }
    form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 601px) {
            width: initial;
        }
    }
    input[type=email] {
        border: none;
        background-color: transparent;
        width: 100%;
        color: white;
        border-bottom: 1px solid #FFFFFF;
        padding: 14px;
        margin: 6px 0 20px;
        outline: none;
        &::placeholder {
            color: white;
            font-size: 12px;
            line-height: 17px;
            @media (min-width:601px) and (max-width: 1199px) {
                font-size: 10px;
                line-height: 14px;
            }
        }
        @media (min-width: 601px) {
            width: initial;
            width: 375px;
            margin-right: 60px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            width: 242px;
            margin: 0;
            margin-right: 38px;    
        }
        @media (min-width:601px) and (max-width: 1199px) {
            margin: 0;
            width: 161.56px;
            margin-right: 25px;
            padding: 6px;
        }
        
    }
    input[type=submit] {
        width: 100%;
        box-shadow: none;
        border: none;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 20px rgba(110, 71, 72, 0.1));
        font-family: 'NotoSansJP',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.025em;
        color: #FFFFFF;
        padding: 10px 0 11px;
        @media (min-width: 601px) {
            width: initial;
            width: 290px;
            height: 49px;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            width: 240px;
            height: 44px;
            font-size: 16px;
            line-height: 23px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            width: 160.22px;
            height: 29.37px;
            font-size: 12px;
            line-height: 17px;
            padding: 0;
            margin-top: 5px;
        }
    }
}