<div class="backconnect">
    <div class="wrapper">
        <div class="backconnect__title title">
            <h2>ЗАДАТЬ СВОЙ ВОПРОС</h2>
        </div>
        <div class="backconnect__content">
            <form action="" method="POST" class="backconnect__form form">
                <input type="name" placeholder="Имя">
                <input type="tel" placeholder="Телефон">
                <input type="email" placeholder="Email">
                <div class="form__text">
                    <p>Сообщение</p>
                    <textarea></textarea>
                </div>
                <input type="submit" class="btn" value="Отправить">
            </form>

            <div class="backconnect__img">
                <a></a>
            </div>
        </div>
    </div>
</div>