<div class="question">
    <div class="wrapper">
        <div class="question__title title">
            <h1>ВОПРОС И ОТВЕТ</h1>
        </div>
        <div class="question__content">
            <p>В этом разделе вы можете найти ответы на многие вопросы, касающиеся работы нашего сайта. Если вы не нашли интересующей вас информации, то можете отправить нам запрос с помощью формы обратной связи.</p>
            <div class="question__dropbox">
                <h3 class="question__droptitle" data-target="#return">Как возвратить товар или предъявить претензию?</h3>
                <div id="return" class="question__droptext">
                    Клиент вправе отказаться от заказанного товара надлежащего качества в любое время до его получения, а после получения - в течение 14 дней со дня получения заказа. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также фирменную упаковку.
                    <br><br>
                    Если покупатель отказывается от товара, то интернет-магазин возвращает ему стоимость возвращаемого товара, за исключением расходов продавца на доставку товара от клиента до интернет-магазина.
                    <br><br>
                    Клиент может возвратить товар ненадлежащего качества изготовителю или продавцу и потребовать возврата уплаченной денежной суммы в течение гарантийного срока или срока годности. Клиент также вправе потребовать замены товара ненадлежащего качества либо устранения обнаруженных недостатков.
                </div>
            </div>

            <div class="question__dropbox">
                <h3 class="question__droptitle" data-target="#state">Как узнать о состоянии заказа?</h3>
                <div id="state" class="question__droptext">
                    Покупатель может отслеживать состояние заказа непосредственно в интернет-магазине в Личном кабинете. Кроме этого он получает статус-уведомления по электронной почте, при оформлении заказа и его оплате.
                    <br><br>
                    В случае возникновения вопросов клиент всегда может обратиться в интернет-магазин по телефону, по эл.почте или ватсап и получить полную информацию о состоянии заказа.
                </div>
            </div>

            <div class="question__dropbox">
                <h3 class="question__droptitle" data-target="#annul">Как аннулировать заказ или отдельный товар из заказа?</h3>
                <div id="annul" class="question__droptext">
                    Клиент вправе отказаться от заказанного товара надлежащего качества в любое время до его получения, а после получения - в течение 14 дней со дня получения заказа. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также фирменную упаковку.
                    <br><br>
                    Если покупатель отказывается от товара, то интернет-магазин возвращает ему стоимость возвращаемого товара, за исключением расходов продавца на доставку товара от клиента до интернет-магазина.
                    <br><br>
                    Клиент может возвратить товар ненадлежащего качества изготовителю или продавцу и потребовать возврата уплаченной денежной суммы в течение гарантийного срока или срока годности. Клиент также вправе потребовать замены товара ненадлежащего качества либо устранения обнаруженных недостатков.
                </div>
            </div>

            <div class="question__dropbox">
                <h3 class="question__droptitle" data-target="#deliveryprogress">Как происходит доставка?</h3>
                <div id="deliveryprogress" class="question__droptext">
                    Клиент вправе отказаться от заказанного товара надлежащего качества в любое время до его получения, а после получения - в течение 14 дней со дня получения заказа. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также фирменную упаковку.
                    <br><br>
                    Если покупатель отказывается от товара, то интернет-магазин возвращает ему стоимость возвращаемого товара, за исключением расходов продавца на доставку товара от клиента до интернет-магазина.
                    <br><br>
                    Клиент может возвратить товар ненадлежащего качества изготовителю или продавцу и потребовать возврата уплаченной денежной суммы в течение гарантийного срока или срока годности. Клиент также вправе потребовать замены товара ненадлежащего качества либо устранения обнаруженных недостатков.
                </div>
            </div>

            <div class="question__dropbox">
                <h3 class="question__droptitle" data-target="#paymentoptions">Как можно оплатить заказ?</h3>
                <div id="paymentoptions" class="question__droptext">
                    Клиент вправе отказаться от заказанного товара надлежащего качества в любое время до его получения, а после получения - в течение 14 дней со дня получения заказа. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также фирменную упаковку.
                    <br><br>
                    Если покупатель отказывается от товара, то интернет-магазин возвращает ему стоимость возвращаемого товара, за исключением расходов продавца на доставку товара от клиента до интернет-магазина.
                    <br><br>
                    Клиент может возвратить товар ненадлежащего качества изготовителю или продавцу и потребовать возврата уплаченной денежной суммы в течение гарантийного срока или срока годности. Клиент также вправе потребовать замены товара ненадлежащего качества либо устранения обнаруженных недостатков.
                </div>
            </div>
        </div>
    </div>
</div>