<div class="basket-page">
    <div class="wrapper">
        <div class="basket-page__title title">
            <h1>Ваша корзина</h1>
        </div>
        <div class="basket-page__content">
            <div class="basket-page__top">
                <div class="basket-page__sum">
                    <div class="basket-page__sum-inline"><p>Итого<span>( 3 товара )</span></p> <p>25 881 РУБ.</p></div>
                </div>
                <a class="basket-page__btn btn">Перейти к оформлению заказа</a>
            </div>
            <div class="basket-page__items">
                <div class="basket-page__item">
                    <a class="basket-page__item-img" style="background-image: url(img/basket/1.jpg);"></a>
                    <div class="basket-page__item-info">
                        <h4 class="basket-page__item-title">ПОЛУБОТИНКИ ДЕРБИ ПЛЕЙНТОЕ СИНИЕ</h4>
                        <p class="basket-page__item-art">Артикул: 6082/TU/LB</p>
                        <div class="basket-page__item-char">
                            <p>Цвет<span>Черный</span></p>
                            <p>Размер<span>40</span></p>
                            <div>Количества<p><a>-</a><a>2</a><a>+</a></p></div>
                        </div>
                        <div class="basket-page__item-btn">
                            <a class="btn btn_white">Удалить</a>
                            <a class="btn btn_white">Изменить</a>
                        </div>                        
                    </div> 
                    <a class="basket-page__item-dis">60%</a>
                    <a class="basket-page__item-price">6 796 РУБ.</a>
                </div>
                <div class="basket-page__item">
                    <a class="basket-page__item-img" style="background-image: url(img/basket/2.jpg);"></a>
                    <div class="basket-page__item-info">
                        <h4 class="basket-page__item-title">ПОЛУБОТИНКИ ДЕРБИ ПЛЕЙНТОЕ СИНИЕ</h4>
                        <p class="basket-page__item-art">Артикул: 6082/TU/LB</p>
                        <div class="basket-page__item-char">
                            <p>Цвет<span>Черный</span></p>
                            <p>Размер<span>40</span></p>
                            <div>Количества<p><a>-</a><a>2</a><a>+</a></p></div>
                        </div>
                        <div class="basket-page__item-btn">
                            <a class="btn btn_white">Удалить</a>
                            <a class="btn btn_white">Изменить</a>
                        </div>                        
                    </div> 
                    <a class="basket-page__item-dis">60%</a>
                    <a class="basket-page__item-price">11 990 РУБ.</a> 
                </div>
            </div>
            <div class="basket-page__registration">
                <div class="basket-page__registration-sum">
                    <p>Сумма товаров</p>
                    <p>25 582 РУБ.</p>
                </div>
                <div class="basket-page__registration-delivery">
                    <p>Стандартная доставка</p>
                    <p class="right-text">299 РУБ.</p>
                    <span>В течении 4-7 дней</span>
                </div>
                <div class="basket-page__registration-promo">
                    <p data-target="#promodrop" class="promodrop">Есть промокод?</p>
                    <form id="promodrop" class="basket-page__registration-promoinput">
                        <div>
                            <input type="text" placeholder="Введите код" maxlength="20"> 
                            <input type="submit" class="btn" value="Применить">
                        </div>
                        <span>Промокоды не могут быть использованы в сочетании с другими рекламными акциями или промокодами</span>
                    </form>
                </div>
                <div class="basket-page__registration-itog">
                    <div class="basket-page__sum-inline"><p>Итого<span>( 3 товара )</span></p> <p>25 881 РУБ.</p></div>
                </div>
                <a class="basket-page__btn btn">Перейти к оформлению заказа</a>
            </div>
        </div>
    </div>
</div>