<div class="pop-prod pop-prod-similar pop-prod-mob">
    <div class="wrapper">
        <div class="pop-prod__title title">
            <h2 class="">Рекомендации</h2>
        </div>
        <div class="pop-prod__slider">
            <div class="slider-pop-prod">

                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/1.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_red">50%</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">КЕДЫ МУЖСКИЕ КОЖАНЫЕ</h3>
                        <p class="card__price">11 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/3.jpg);"></a>
                        <h3 class="card__title">СУМКА-СЕДЛО КОЖАНАЯ</h3>
                        <p class="card__price">6 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/4.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">12 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/3.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>