<div class="intro-company">
    <div class="wrapper">
        <div class="intro-company__content">

            <div class="intro-company__info">
                <div class="intro-company__title title">
                    <h1>О КОМПАНИИ</h1>
                </div>
                <div class="intro-company__text">
                    <span>ДОБРО ПОЖАЛОВАТЬ В "TOMMY ROY" - МОДНУЮ СЕТЬ САЛОНОВ ОБУВИ И АКСЕССУАРОВ ДЛЯ МУЖЧИН И ЖЕНЩИН!</span>
                    <p> TOMMY ROY – торговая марка обуви и аксессуаров, разрабатываемая ведущими европейскими дизайнерами и модельерами, на основе модных тенденций, стилистических решений, в духе времени...
                        <br><br>
                        Вся продукция торговой марки «TOMMY ROY» производится на фабриках Италии, Турции, Испании и Китая. Ежегодно ведущими дизайнерами торговой марки «TOMMY ROY» выпускаются две коллекции – «Осень-Зима» и «Весна-Лето» по четырём стилистическим направлениям – Fashion, Classic, Casual и Sport-Chic. Каждая коллекция, предназначенная для российского потребителя, разрабатывается с учётом климатических условий и особенностей строения стопы, на основе передовых технологий. 
                        <br><br>
                        Все модели обуви изготовливаются из натуральных высококачественных материалов, используются лучшие виды кожи по прочности, износостойкости, водо- и воздухопроницаемости. Удобные колодки, непревзойденное качество и актуальный дизайн объеденяет Tommy Roy.</p>
                </div>
            </div>
            <a class="intro-company__img"></a>
        </div>
    </div>
</div>