<div class="requisites">
    <div class="wrapper">
        <div class="requisites__content">
            <h3 class="requisites__title">РЕКВИЗИТЫ</h3>
            <p class="requisites__ooo">ООО "Ройс"</p>
            <div class="requisites__left">
                <div class="requisites__elem">
                    <p>ИНН  </p>
                    <p>3702709932</p>
                </div>
                <div class="requisites__elem">
                    <p>КПП  </p>
                    <p>370201001</p>
                </div>
                <div class="requisites__elem">
                    <p>ОГРН</p>
                    <p>1133702024323</p>
                </div>
                <div class="requisites__elem">
                    <p>Юридический адрес</p>
                    <p>153037, Ивановская обл., г. Иваново, ул. 8 Марта, д. 32, пав. 81</p>
                </div>
            </div>
            <div class="requisites__right">
                <div class="requisites__elem">
                    <p>Почтовый адрес</p>
                    <p>50049, г. Ярославль, а/я 123</p>
                </div>
                <div class="requisites__elem">
                    <p>Расчетный счет </p>
                    <p>40702810796050000132</p>
                </div>
                <div class="requisites__elem">
                    <p>Банк   </p>
                    <p>ПАО «Росбанк» </p>
                </div>
                <div class="requisites__elem">
                    <p>БИК  </p>
                    <p>044525256</p>
                </div>
                <div class="requisites__elem">
                    <p>Корр. счет  </p>
                    <p>30101810000000000256</p>
                </div>
            </div>
        </div>
    </div>
</div>