<header class="header">
  <div class="wrapper">

    <div class="header__logo">
      <a href="/" class="logo"></a>
    </div>
    
    <a class="header__btn btn">Обратный звонок</a>

    <div class="header__search">
      <input type="text" class="search" placeholder="Поиск">
      <a></a>
    </div>

    <div class="header__basket basket">
      <a href="basket.html" class="basket__img"></a>
      <div class="basket__text">
        <p class="basket__name">Корзина</p>
        <p class="basket__sum">9449 p</p>
      </div>
    </div>

    <div class="header__burger" id="burger">
      <a class="burger" id="burgerlink"></a>
    </div>

    <div class="header__user">
      <a href="profile.html" class="user"></a>
    </div>

    <div class="header__contact contact">
      <a href="tel:+78002014831" class="contact__number">+7 (800) 201-48-31</a>
      <p class="contact__delivery">Бесплатно по России</p>
    </div>
  </div>
  <div class="header__nav">
    <nav class="nav">

      <div class="nav__elem-wrapper">
        <a href="catalog-women.html" class="nav__elem nav__elem-dropbox">ЖЕНСКАЯ</a><a class="tringle-drop" data-target="#she"></a>
        <div id="she" class="nav__elem-drop">
          <div>
            <a class="nav__elem-child" href="">БОСОНОЖКИ</a>
            <a class="nav__elem-child" href="">БОТИЛЬОНЫ</a>
            <a class="nav__elem-child" href="">БОТИНКИ</a>
            <a class="nav__elem-child" href="">МЮЛИ/САБО</a>
            <a class="nav__elem-child" href="">ПАНТОЛЕТЫ</a>
            <a class="nav__elem-child" href="">ПОЛУБОТИНКИ</a>
            <a class="nav__elem-child" href="">САНДАЛИИ</a>
          </div>
        </div>
      </div>

      <div class="nav__elem-wrapper">
        <a href="catalog-man.html" class="nav__elem nav__elem-dropbox">МУЖСКАЯ</a><a class="tringle-drop" data-target="#he"></a>
        <div id="he" class="nav__elem-drop">
          <div>
            <a class="nav__elem-child" href="">БОТИЛЬОНЫ</a>
            <a class="nav__elem-child" href="">БОТИНКИ</a>
            <a class="nav__elem-child" href="">ПАНТОЛЕТЫ</a>
            <a class="nav__elem-child" href="">ПОЛУБОТИНКИ</a>
            <a class="nav__elem-child" href="">САНДАЛИИ</a>
          </div>
        </div>
      </div>

      <div class="nav__elem-wrapper">
        <a class="nav__elem nav__elem-dropbox">СУМКИ</a><a class="tringle-drop" data-target="#handbags"></a>
        <div id="handbags" class="nav__elem-drop">
          <div>
            <a class="nav__elem-child" href="">БОСОНОЖКИ</a>
            <a class="nav__elem-child" href="">БОТИЛЬОНЫ</a>
            <a class="nav__elem-child" href="">САНДАЛИИ</a>
          </div>
        </div>
      </div>

      <div class="nav__elem-wrapper">
        <a class="nav__elem nav__elem-dropbox">АКСЕССУАРЫ</a><a class="tringle-drop" data-target="#accessories"></a>
        <div id="accessories" class="nav__elem-drop">
          <div>
            <a class="nav__elem-child" href="">БОСОНОЖКИ</a>
            <a class="nav__elem-child" href="">БОТИЛЬОНЫ</a>
            <a class="nav__elem-child" href="">БОТИНКИ</a>
          </div>
        </div>
      </div>

      <div class="nav__elem-wrapper">
        <a href="" class="nav__elem">SALE</a>
      </div>

    </nav>
  </div>
</header>
