<div class="shops">
    <div class="wrapper">
        <div class="shops__title title">
            <h1>МАГАЗИНЫ ПРОДАЖ</h1>
        </div>
        <div class="shops__content">

            <div class="shops__msk shops__contain">
                <h3 class="shops__smalltitle">г. Москва</h3>
                <div class="shops__msk-left">
                    <p class="shops__adres">-ТРЦ Фестиваль, Мичуринский пр., 3к1</p>
                    <h4 class="shops__lowtitle">Телефон</h4>
                    <a href="tel:+79660515890" class="shops__number">+7 (966) 051-58-90</a>
                    <h4 class="shops__lowtitle">РЕЖИМ РАБОТЫ</h4>
                    <p class="shops__time">с 10.00 до 22.00 пн-вс</p>
                </div>
                <div class="shops__msk-right">
                    <p class="shops__adres">-ТРК Вегас, 24 км 1 МКАД Х Каширское ш.</p>
                    <h4 class="shops__lowtitle">Телефон</h4>
                    <a href="tel:+79645762928" class="shops__number">+7 (964) 576-29-28</a>
                    <h4 class="shops__lowtitle">РЕЖИМ РАБОТЫ</h4>
                    <div class="shops__time">
                        <p>с 10.00 до 23.00 вс-чт</p>
                        <p>с 10.00 до 24.00 пт-сб</p>
                    </div> 
                </div>
            </div>

            <div class="shops__ivan shops__contain">
                <h3 class="shops__smalltitle">г. Иваново</h3>
                <p class="shops__adres">-ТРЦ Серебряный город, ул.8 марта, д.32</p>
                <h4 class="shops__lowtitle">Телефон</h4>
                <a href="tel:+79657263221" class="shops__number">+7 (965) 726-32-21</a>
                <h4 class="shops__lowtitle">РЕЖИМ РАБОТЫ</h4>
                <p class="shops__time">с 10.00 до 22.00 пн-вс</p>
            </div>

            <div class="shops__yar shops__contain">
                <h3 class="shops__smalltitle">г. Ярославль</h3>
                <p class="shops__adres">-ТРЦ Аура, ул. Победы, д.41</p>
                <h4 class="shops__lowtitle">Телефон</h4>
                <a href="tel:+79610240880" class="shops__number">+7 (961) 024-08-80</a>
                <h4 class="shops__lowtitle">РЕЖИМ РАБОТЫ</h4>
                <p class="shops__time">с 10.00 до 22.00 пн-вс</p>
            </div>
            
        </div>
    </div>

    <div class="shops__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2249.6402194895168!2d37.46732155388843!3d55.677856288369306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zIC3QotCg0KYg0KTQtdGB0YLQuNCy0LDQu9GMLCDQnNC40YfRg9GA0LjQvdGB0LrQuNC5INC_0YAuLCAz0Lox!5e0!3m2!1sru!2sru!4v1632996192239!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <a class="shops__map-btn btn">Открыть в Яндекс.Картах</a>
    </div>
</div>