<div class="benefits">
    <div class="wrapper">
        <div class="title">
            <h2>ПРЕИМУЩЕСТВА TOMMY ROY</h2>
        </div>
        <div class="benefits__content">

            <div class="benefits__card">
                <a class="benefits__img" style="background-image: url(img/benefits/1.svg);"></a>
                <h4 class="benefits__title">Дизайнерская обувь</h4>
                <p class="benefits__info">Каждая модель разрабатывается лучшими дизайнерами Европы. Мы гарантируем высокое качество и подлинность каждой вещи.</p>
            </div>
            <div class="benefits__card">
                <a class="benefits__img" style="background-image: url(img/benefits/2.svg);"></a>
                <h4 class="benefits__title">Безопасность</h4>
                <p class="benefits__info">Безопасное соединение HTTPS гарантирует, что данные вашей банковской карты будут надежно защищены при оплате онлайн.</p>
            </div>
            <div class="benefits__card">
                <a class="benefits__img" style="background-image: url(img/benefits/3.svg);"></a>
                <h4 class="benefits__title">Широкий ассортимент</h4>
                <p class="benefits__info">Новые коллекции в соответствии с текущими трендами мировой моды, у нас всегда в наличии весь размерный ряд.</p>
            </div>
            <div class="benefits__card">
                <a class="benefits__img" style="background-image: url(img/benefits/4.svg);"></a>
                <h4 class="benefits__title">Доставка товара</h4>
                <p class="benefits__info">Доставка товаров осуществляется по всей России и занимает не более 5 дней. Сотрудничаем с лучшими транспортными компаниями.</p>
            </div>
            <div class="benefits__card">
                <a class="benefits__img" style="background-image: url(img/benefits/5.svg);"></a>
                <h4 class="benefits__title">Системы оплаты</h4>
                <p class="benefits__info">Варианты оплаты: наличными при получении, банковской квитанцией, через систему ROBOKASSA.</p>
            </div>
            <div class="benefits__card">
                <a class="benefits__img" style="background-image: url(img/benefits/6.svg);"></a>
                <h4 class="benefits__title">Скидки и бонусные карты</h4>
                <p class="benefits__info">Товары со скидками на любой вкус, а так же вы можете получить Бонусную Карту TOMMY ROY от 5 до 10 %</p>
            </div>
        </div>

    </div>
</div>