<div class="product-card">
    <div class="wrapper">
        <div class="product-card__content">

            <div class="product-card__slider">

                <div class="product-slider-main">
                    <div class="product-slider-main__slide">
                        <a class="product-slider-main__img" style="background-image: url(img/product/1.jpg);"></a>
                    </div>
                    <div class="product-slider-main__slide">
                        <a class="product-slider-main__img" style="background-image: url(img/product/2.jpg);"></a>
                    </div>
                    <div class="product-slider-main__slide">
                        <a class="product-slider-main__img" style="background-image: url(img/product/3.jpg);"></a>
                    </div>
                </div>

                <div class="product-slider-nav">
                    <div class="product-slider-nav__slide">
                        <a class="product-slider-nav__img" style="background-image: url(img/product/4.jpg);"></a>
                    </div>
                    <div class="product-slider-nav__slide">
                        <a class="product-slider-nav__img" style="background-image: url(img/product/2.jpg);"></a>
                    </div>
                    <div class="product-slider-nav__slide">
                        <a class="product-slider-nav__img" style="background-image: url(img/product/3.jpg);"></a>
                    </div>
                </div>

            </div>

            <div class="product-card__info">
                <h2 class="product-card__title">ПОЛУБОТИНКИ ЛОФЕРЫ ИЗ КОЖИ ШЕВРО ЧЕРНЫЕ</h2>
                <p class="product-card__art">Артикул:   6082/TU/LB</p>
                <div class="product-card__price">
                    <a class="product-card__price-old">15 590 руб.</a>
                    <a class="product-card__price-new">6 796 РУБ.</a>
                    <a class="product-card__price-dis product-card__price-dis_red">60%</a>
                </div>
                <p class="product-card__size">Выберите размер</p>
                <div class="product-card__size-change">
                    <a class="active">39</a>
                    <a>40</a>
                    <a>42</a>
                    <a>43</a>
                    <a>45</a>
                </div>
                <a class="product-card__size-table">Таблица размеров</a>
                <div class="product-card__quantity">
                    <p>Количества</p>
                    <div class="product-card__quantity-change">
                        <a>-</a>
                        <a>1</a>
                        <a>+</a>
                    </div>
                </div>
                <div class="product-card__btn">
                    <a class="product-card__btn-basket btn">Добавить в корзину</a>
                    <a class="product-card__btn-buy btn btn_white">Купить</a>
                </div>
                <div class="product-card__char">
                    <h3>Детали</h3>
                    <p>Материал верха <span>Натуральная кожа</span></p>
                    <p>Материал подкладки <span>Натуральная кожа</span></p>
                    <p>Материал подошвы <span>Тунит/резина</span></p>
                    <p>Вид застежки <span>Нет</span></p>
                    <p>Сезон <span>Демисезон</span></p>
                    <p>Стиль <span>Классика</span></p>
                    <p>Производитель <span>Турция</span></p>
                    <p>Страна-бренд <span>Италия</span></p>
                </div>
            </div>

        </div>
    </div>
</div>