<div class="product-card">
    <div class="wrapper">
        <div class="product-card__content">

            <div class="product-card__slider">

                <div class="product-slider-main">
                    <div class="product-slider-main__slide">
                        <a class="product-slider-main__img" style="background-image: url(img/product/1.jpg);"></a>
                    </div>
                    <div class="product-slider-main__slide">
                        <a class="product-slider-main__img" style="background-image: url(img/product/2.jpg);"></a>
                    </div>
                    <div class="product-slider-main__slide">
                        <a class="product-slider-main__img" style="background-image: url(img/product/3.jpg);"></a>
                    </div>
                </div>

                <div class="product-slider-nav">
                    <div class="product-slider-nav__slide">
                        <a class="product-slider-nav__img" style="background-image: url(img/product/4.jpg);"></a>
                    </div>
                    <div class="product-slider-nav__slide">
                        <a class="product-slider-nav__img" style="background-image: url(img/product/2.jpg);"></a>
                    </div>
                    <div class="product-slider-nav__slide">
                        <a class="product-slider-nav__img" style="background-image: url(img/product/3.jpg);"></a>
                    </div>
                </div>

            </div>

            <div class="product-card__info">
                
            </div>

        </div>
    </div>
</div>