<div class="categories">
    <div class="wrapper">
        <div class="categories__title title">
            <h2 class="">Категории</h2>
        </div>

        <div class="categories__content">
            <div class="categories__item categories__item_sneakers">
                <a class="categories__img" style="background-image: url(img/categories/1.png);"></a>
                <div class="categories__info">
                    <h3 class="categories__itemtitle">SPORT CHIC STYLE</h3>
                    <p class="categories__text">Кеды, кроссовки, сникерсы</p>
                    <a class="categories__btn btn btn_white">Подробнее</a>
                </div>
            </div>
            <div class="categories__item categories__item_shoes">
                <a class="categories__img categories__img_left" style="background-image: url(img/categories/2.png);"></a>
                <a class="categories__img categories__img_right" style="background-image: url(img/categories/3.png);"></a>
                <div class="categories__info">
                    <h3 class="categories__itemtitle">ТУФЛИ</h3>
                    <p class="categories__text">Pumps, Searpin, d'Orsay, Peep toe, Kitten Heels</p>
                    <a class="categories__btn btn btn_white">Подробнее</a>
                </div>
            </div>
            <div class="categories__item categories__item_bags">
                <a class="categories__img" style="background-image: url(img/categories/4.png);"></a>
                <div class="categories__info">
                    <h3 class="categories__itemtitle">СУМКИ</h3>
                    <p class="categories__text">Тоут, кроссбоди, уикендер, рюкзак, клатч</p>
                    <a class="categories__btn btn btn_white">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>