<div class="intro">
    <div class="wrapper">
        <div class="intro__content">
            <h1 class="intro__title">Tommy Roy</h1>
            <p class="intro__text">Добро пожаловать в "tommy roy" - модную сеть салонов обуви и аксессуаров для мужчин и женщин. торговая марка обуви и аксессуаров, разрабатываемая ведущими европейскими дизайнерами и модельерами, на основе модных тенденций, стилистических решений, в духе времени</p>
            <div class="intro__btn">
                <a href="" class="btn btn_white">Читать больше</a>
                <a href="" class="btn_more"></a>
            </div>
        </div>
    
        <div class="intro__slider">
            <div class="slider-intro">

                <div class="slider-intro__slide">
                    <div class="slider-intro__wrapper">
                        <a href="" class="slider-intro__img" style="background-image: url(img/intro/boot.png);"></a>
                        <div class="slider-intro__info">
                            <span>БОРДОВЫЕ</span>
                            <h2>П/БОТИНКИ ФУЛБРОГ-МОНКИ</h2>
                            <p><span>Материал: </span>Натуральная кожа</p>
                            <div class="slider-intro__price">
                                <p>10 590 руб</p>
                                <p>5 295 РУБ</p>
                                <a href="product.html" class="slider-intro__btn btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-intro__slide">
                    <div class="slider-intro__wrapper">
                        <a href="" class="slider-intro__img" style="background-image: url(img/intro/boot.png);"></a>
                        <div class="slider-intro__info">
                            <span>БОРДОВЫЕ</span>
                            <h2>П/БОТИНКИ ФУЛБРОГ-МОНКИ</h2>
                            <p><span>Материал: </span>Натуральная кожа</p>
                            <div class="slider-intro__price">
                                <p>10 590 руб</p>
                                <p>5 295 РУБ</p>
                                <a href="" class="slider-intro__btn btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-intro__slide">
                    <div class="slider-intro__wrapper">
                        <a href="" class="slider-intro__img" style="background-image: url(img/intro/boot.png);"></a>
                        <div class="slider-intro__info">
                            <span>БОРДОВЫЕ</span>
                            <h2>П/БОТИНКИ ФУЛБРОГ-МОНКИ</h2>
                            <p><span>Материал: </span>Натуральная кожа</p>
                            <div class="slider-intro__price">
                                <p>10 590 руб</p>
                                <p>5 295 РУБ</p>
                                <a href="" class="slider-intro__btn btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>