<div class="pop-prod pop-prod-new">
    <div class="wrapper">
        <div class="pop-prod__title title">
            <h2 class="">Новые поставки</h2>
        </div>
        <div class="pop-prod__slider">
            <div class="slider-pop-prod">

                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_yellow">New</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod-new/1.png);"></a>
                        <h3 class="card__title">КЕДЫ ЗАМШЕВЫЕ СИНИЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_yellow">New</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod-new/2.png);"></a>
                        <h3 class="card__title">БОСОНОЖКИ КОЖАНЫЕ ЧЕРНО/ЖЕЛТЫЕ</h3>
                        <p class="card__price">11 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_yellow">New</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod-new/3.png);"></a>
                        <h3 class="card__title">БОСОНОЖКИ ЖЕНСКИЕ ЧЕРНЫЕ</h3>
                        <p class="card__price">6 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_yellow">New</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod-new/4.png);"></a>
                        <h3 class="card__title">СЛИПЕРЫ МУЖСКИЕ КОЖАНЫЕ СИНИЕ </h3>
                        <p class="card__price">12 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_yellow">New</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod-new/3.png);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="slider-pop-prod__slide">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_yellow">New</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod-new/2.png);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

            </div>
        </div>
        <a href="" class="pop-prod__btn btn btn_white" style="color: black;">Посмотреть всё</a>
    </div>
</div>