<div class="payment">
    <div class="wrapper">
        <div class="payment__title title">
            <h1>Оплата</h1>
        </div>
        <div class="payment__content">
            <h3>Мы предлагаем следующие варианты оплаты Вашего заказа:</h3>
            <p>1. Наличными или банковской картой, при получении заказа в салоне.</p>
            <p>2. Оплата покупки по предоплате осуществляется через сервис ROBOKASSA. Через сервис ROBOKASSA можете произвести оплату любым удобным для Вас способом. Сайт Tommy Roy и сервис ROBOKASSA отвечают самым строгим требованиям безопасности, благодаря этому Вы можете безопасно производить оплату.</p>
        </div>
        <div class="payment__slider">
            <div class="slider-payment">
                <div class="slider-payment__slide"><a style="background-image: url(img/payment/1.png);"></a></div>
                <div class="slider-payment__slide"><a style="background-image: url(img/payment/2.png);"></a></div>
                <div class="slider-payment__slide"><a style="background-image: url(img/payment/3.png);"></a></div>
                <div class="slider-payment__slide"><a style="background-image: url(img/payment/4.png);"></a></div>
                <div class="slider-payment__slide"><a style="background-image: url(img/payment/5.png);"></a></div>
                <div class="slider-payment__slide"><a style="background-image: url(img/payment/6.png);"></a></div>
            </div>
        </div>

        <div class="payment__title title">
            <h1>ДОСТАВКА</h1>
        </div>
        <div class="payment__delivery">
            УВАЖАЕМЫЕ КЛИЕНТЫ, К СОЖАЛЕНИЮ, ДОСТАВКА ТОВАРОВ МЕЖДУ НАШИМИ МАГАЗИНАМИ БОЛЬШЕ НЕ ОСУЩЕСТВЛЯЕТСЯ, ТОВАР, КОТОРЫЙ ВЫ ЗАКАЗАЛИ В ИНТЕРНЕТ-МАГАЗИНЕ,МОЖНО ПОЛУЧИТЬ ДВУМЯ ВАРИАНТАМИ ДОСТАВКИ, ЧЕРЕЗ НАШЕГО ПАРТНЕРА-ТРАНСПОРТНОЙ КОМПАНИЕЙ СДЭК.
        </div>
    </div>
    <div class="payment__cdec">
        <div class="wrapper">
            <h3>ДОСТАВКА КУРЬЕРСКОЙ СЛУЖБОЙ ПАРТНЕРА СДЭК:</h3>
            <ol>
                <li>Наш партнер - транспортная компания СДЭК</li>
                <li>2 варианта доставки - пункт выдачи заказов СДЭК или курьером на дом.</li>
                <li>При выкупе товара на сумму от 15000 рублей услуга доставки не оплачивается. </li>
                <li>При выкупе на сумму меньше 15000 рублей или полном отказе, стоимость доставки оплачивается курьеру или на ПВЗ. </li>
                <li>Расчет стоимости доставки производится при оформлении заказа в автоматическом режиме: программа ориентируется на фактический вес груза и указанный покупателем регион.</li>
                <li>Доставка покупок по России осуществляется в срок от 5 до 15 дней (в зависимости от удаленности Региона).</li> 
                <li>В одном заказе может быть не более двух пар обуви.</li> 
                <li>Примерка товаров осуществляется в присутствии курьера, в течение 15 минут с момента его приезда или на ПВЗ, перед тем,как выкупить товар. Если позиция из заказа Вам не подходят, Вы можете частично или полностью отказаться от покупки. Только при условии оплаты «Наличными курьеру» или «Банковской картой с помощью мобильного терминала у курьера».)</li>
                <li>При предоплате заказа через сервис ROBOKASSA частичный или полный отказ возможен, но предварительно уведомив менеджера интернет-магазина, для дальнейших инструкций, предварительно можно ознакомиться с информацией о возврате товара,частичном возврате, в разделе-ВОЗВРАТ ТОВАРА.</li>
                <li>Не подошедший, предоплаченный товар, покупатель возвращает согласно условиям возврата. </li>
            </ol>
        </div>
    </div>
</div>