.politic {
    font-family: 'NotoSansJP',sans-serif;
    font-style: normal;
    padding-bottom: 65px;
    @media (min-width:601px) {
        padding-bottom: 120px;
    }
    &__title {
        h2 {  
            font-family: 'Evolventa',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 23px;
            @media (min-width:601px) {
                font-size: 48px;
                line-height: 64px;
                margin-bottom: 40px;
            }
        }
    }
   &__date {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 22px;
        @media (min-width:601px) {
            font-size: 20px;
            line-height: 29px;
            margin-bottom: 70px;
        }
   }
   &__content {
        font-weight: 300;
        font-size: 12px;
        line-height: 180%;
        letter-spacing: 0.025em;
        color: rgba(0, 0, 0, 0.8);
        @media (min-width:601px) {
            font-size: 18px;
        }
        h3 {
            font-weight: 600;
            color: #000000;  
            margin-top: 30px;
            margin-bottom: 30px;  
            @media (min-width:601px) {
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 10px;
            }        
        }
        a {
            color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
        }
   }
   &__upd {
        font-weight: 600;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #000000;
        margin-top: 30px;
        font-size: 14px;
        line-height: 20px;
        @media (min-width:601px) {
            font-size: 20px;
            line-height: 29px;
            margin-top: 70px;
        }
   }
}