// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss

@import "./components/wrapper";
@import "./components/btn";
@import "./components/burger";
@import "./components/logo";
@import "./components/basket";
@import "./components/nav";
@import "./components/contact";
@import "./components/title";
@import "./components/slider";
@import "./components/card";
@import "./components/yellow-line";

//header
@import "./components/header";

//main
@import "./components/main/intro";
@import "./components/main/pop-prod";
@import "./components/main/categories";

//footer
@import "./components/footer";
@import "./components/footer/insta";
@import "./components/footer/greenline";