// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss

@import "./components/wrapper";
@import "./components/btn";
@import "./components/burger";
@import "./components/logo";
@import "./components/basket";
@import "./components/nav";
@import "./components/contact";
@import "./components/title";
@import "./components/slider";
@import "./components/card";
@import "./components/yellow-line";
@import "./components/breadcrumbs";
@import "./components/filters";
@import "./components/form";

//header
@import "./components/header";

//footer
@import "./components/footer";
@import "./components/footer/insta";
@import "./components/footer/greenline";

//main
@import "./components/main/intro";
@import "./components/main/pop-prod";
@import "./components/main/categories";

//catalog
@import "./components/catalog/catalog";

//product
@import "./components/product/product-card";
@import "./components/product/benefits";

//company
@import "./components/company/intro-company";
@import "./components/company/requisites";
@import "./components/company/tagline";

//shops
@import "./components/shops/shops";

//shops
@import "./components/contacts/contacts";
@import "./components/contacts/backconnect";

//politic
@import "./components/politic/politic";

//profile
@import "./components/profile/profile";

//question
@import "./components/question/question";

//payment
@import "./components/payment/payment";

//return
@import "./components/return/return";

//basket-page
@import "./components/basket/basket-page";
