<div class="catalog">
    <div class="wrapper">

        <h2 class="catalog__title">Мужская</h2>

        <div class="catalog__content">
            <!--Filters-->
            <div class="catalog__filters filters" id="filters__main">
                <div class="filters__checkbox filters__material">
                    <h4 class="filters__title active" data-target="#material">Материал</h4>
                    <div id="material" class="filters__drop">
                        <input id="zam" type="checkbox">
                        <label for="zam">Нат. замша</label>

                        <input id="leather" type="checkbox">
                        <label for="leather">Нат. кожа</label>

                        <input id="lazleather" type="checkbox">
                        <label for="lazleather">Нат. лазерная кожа</label>

                        <input id="lacleather" type="checkbox">
                        <label for="lacleather">Нат. лак. кожа</label>

                        <input id="minleather" type="checkbox">
                        <label for="minleather">Нат. металлизированная кожа</label>

                        <input id="noob" type="checkbox">
                        <label for="noob">Нат. нубук</label>

                        <input id="textil" type="checkbox">
                        <label for="textil">Текстиль</label>
                    </div>
                </div>

                <div class="filters__checkbox filters__color">
                    <h4 class="filters__title active" data-target="#color">Цвет</h4>
                    <div class="filters__drop" id="color">
                        <input id="DDB4A5" type="checkbox">
                        <label for="DDB4A5" style="--my-color-var: #DDB4A5;"></label>

                        <input id="1F2C54" type="checkbox">
                        <label for="1F2C54" style="--my-color-var: #1F2C54;"></label>

                        <input id="76809D" type="checkbox">
                        <label for="76809D" style="--my-color-var: #76809D;"></label>

                        <input id="FFFDEF" type="checkbox">
                        <label for="FFFDEF" style="--my-color-var: #FFFDEF;"></label>

                        <input id="221F24" type="checkbox">
                        <label for="221F24" style="--my-color-var: #221F24;"></label>

                        <input id="FBDD01" type="checkbox">
                        <label for="FBDD01" style="--my-color-var: #FBDD01;"></label>

                        <input id="A74A2D" type="checkbox">
                        <label for="A74A2D" style="--my-color-var: #A74A2D;"></label>

                        <input id="3BD065" type="checkbox">
                        <label for="3BD065" style="--my-color-var: #3BD065;"></label>

                        <input id="C53D3D" type="checkbox">
                        <label for="C53D3D" style="--my-color-var: #C53D3D;"></label>
                    </div>
                </div>

                <div class="filters__checkbox filters__season">
                    <h4 class="filters__title active" data-target="#season">Сезон</h4>
                    <div class="filters__drop" id="season">
                        <input id="allseason" type="checkbox">
                        <label for="allseason">Внесезон</label>

                        <input id="semiseason" type="checkbox">
                        <label for="semiseason">Деми</label>

                        <input id="winter" type="checkbox">
                        <label for="winter">Зима</label>

                        <input id="summer" type="checkbox">
                        <label for="summer">Лето</label>

                    </div>
                </div>

                <div class="filters__checkbox filters__style">
                    <h4 class="filters__title active" data-target="#style">Стиль</h4>
                    <div class="filters__drop" id="style">
                        <input id="grange" type="checkbox">
                        <label for="grange">Гранж</label>

                        <input id="cantry" type="checkbox">
                        <label for="cantry">Кантри</label>

                        <input id="classic" type="checkbox">
                        <label for="classic">Классика</label>

                        <input id="casual" type="checkbox">
                        <label for="casual">Кэжуал</label>

                        <input id="sport" type="checkbox">
                        <label for="sport">Спорт-шик</label>

                    </div>
                </div>

                <div class="filters__checkbox filters__heel">
                    <h4 class="filters__title active" data-target="#heel">Каблук</h4>
                    <div class="filters__drop" id="heel">
                        <input id="lowheel" type="checkbox">
                        <label for="lowheel">Низкий</label>

                        <input id="noheel" type="checkbox">
                        <label for="noheel">Без каблука</label>

                        <input id="heightheel" type="checkbox">
                        <label for="heightheel">Высокий</label>

                        <input id="platheel" type="checkbox">
                        <label for="platheel">Платформа</label>

                        <input id="middleheel" type="checkbox">
                        <label for="middleheel">Средний</label>

                        <input id="tankheel" type="checkbox">
                        <label for="tankheel">Танкетка</label>

                    </div>
                </div>

                <div class="filters__checkbox filters__heightheel">
                    <h4 class="filters__title active" data-target="#heightheels">Высота каблука</h4>
                    <div class="filters__drop" id="heightheels">
                        <input id="1sm" type="checkbox">
                        <label for="1sm">1 см</label>

                        <input id="2sm" type="checkbox">
                        <label for="2sm">2 см</label>

                        <input id="3sm" type="checkbox">
                        <label for="3sm">3 см</label>

                        <input id="4sm" type="checkbox">
                        <label for="4sm">4 см</label>

                        <input id="5sm" type="checkbox">
                        <label for="5sm">5 см</label>

                        <input id="6sm" type="checkbox">
                        <label for="6sm">6 см</label>

                        <input id="7sm" type="checkbox">
                        <label for="7sm">7 см</label>

                        <input id="8sm" type="checkbox">
                        <label for="8sm">8 см</label>

                        <input id="9sm" type="checkbox">
                        <label for="9sm">9 см</label>

                        <input id="10sm" type="checkbox">
                        <label for="10sm">10 см</label>

                        <input id="11sm" type="checkbox">
                        <label for="11sm">11 см</label>

                    </div>
                </div>

                <div class="filters__checkbox filters__country">
                    <h4 class="filters__title active" data-target="#country">Производитель</h4>
                    <div class="filters__drop" id="country">
                        <input id="china" type="checkbox">
                        <label for="china">Китай</label>

                        <input id="turkey" type="checkbox">
                        <label for="turkey">Турция</label>

                    </div>
                </div>

                <div class="filters__checkbox filters__size">
                    <h4 class="filters__title active" data-target="#bootsize">Размер обуви</h4>
                    <div class="filters__drop" id="bootsize">
                        <input id="35size" type="checkbox">
                        <label for="35size">35</label>

                        <input id="36size" type="checkbox">
                        <label for="36size">36</label>

                        <input id="37size" type="checkbox">
                        <label for="37size">37</label>

                        <input id="38size" type="checkbox">
                        <label for="38size">38</label>

                        <input id="39size" type="checkbox">
                        <label for="39size">39</label>

                        <input id="40size" type="checkbox">
                        <label for="40size">40</label>

                        <input id="41size" type="checkbox">
                        <label for="41size">41</label>
                    </div>
                </div>

            </div>
            <!--Items-->
            <div class="catalog__items">
                <div class="catalog__filtersitems">
                    <div class="catalog__filters-mob">
                        <h4 class="filters__title" data-target="#filters__main">Фильтр</h4>
                    </div>
                    <div class="catalog__sort">
                        <h4 class="filters__title" data-target="#filters__select">Сортировка</h4>
                        <div class="catalog__select" id="filters__select">
                            <a href="" class="catalog__select-item">По цене</a>
                            <a href="" class="catalog__select-item">По популярности</a>
                        </div>
                    </div>
                </div>
                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_yellow">New</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/1.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_red">50%</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">КЕДЫ МУЖСКИЕ КОЖАНЫЕ</h3>
                        <p class="card__price">11 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/3.jpg);"></a>
                        <h3 class="card__title">СУМКА-СЕДЛО КОЖАНАЯ</h3>
                        <p class="card__price">6 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/4.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">12 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/3.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                               
                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/1.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_red">50%</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">КЕДЫ МУЖСКИЕ КОЖАНЫЕ</h3>
                        <p class="card__price">11 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/3.jpg);"></a>
                        <h3 class="card__title">СУМКА-СЕДЛО КОЖАНАЯ</h3>
                        <p class="card__price">6 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/4.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">12 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/3.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>
                               
                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/1.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont card__discont_red">50%</a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">КЕДЫ МУЖСКИЕ КОЖАНЫЕ</h3>
                        <p class="card__price">11 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/3.jpg);"></a>
                        <h3 class="card__title">СУМКА-СЕДЛО КОЖАНАЯ</h3>
                        <p class="card__price">6 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/4.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">12 590 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/3.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>


                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <div class="card__wrapper">
                        <a href="" class="card__discont"></a>
                        <a href="" class="card__img" style="background-image: url(img/pop-prod/2.jpg);"></a>
                        <h3 class="card__title">БОСОНОЖКИ АНКЛ-СТРЭП КОЖАНЫЕ БЕЖЕВЫЕ</h3>
                        <p class="card__price">10 990 руб</p>
                        <a class="card__basket" href="">В корзину</a>
                        <a href="" class="card__btn btn btn_white">Купить</a>
                    </div>
                </div>
                <!--page_nav-->
                <div class="catalog__page-nav">
                    <a href="" class="catalog__nav-elem active">1</a>
                    <a href="" class="catalog__nav-elem">2</a>
                    <a href="" class="catalog__nav-elem">3</a>
                    <a href="" class="catalog__nav-elem">4</a>
                    <a href="" class="catalog__nav-elem">&hellip;</a>
                    <a href="" class="catalog__nav-elem">7</a>
                </div>
            </div>
            
        </div>

    </div>
</div>