<div class="return">
    <div class="wrapper">
        <div class="return__title title">
            <h1>ВОЗВРАТ ТОВАРА</h1>
        </div>
        <span>
            Товар, приобретенный в интернет-магазине tommyroy.ru, подлежит обмену и возврату в течение 14 календарных дней с момента покупки (ст. 25 п.1 ЗоЗПП).   
            <br><br>
            Товар,который был ранее приобретен в одном из наших сетей магазинов TOMMY ROY (адреса и контактные данные находятся в разделе-контакты), подлежит обмену и возврату по месту приобретения.
            <br><br>
            Гарантийный срок, в 30 календарных дней, распространяется только на обувь,сумки и ремни.              
        </span>
        <div class="return__content">
            <h3>1. При возврате товара надлежащего качества (товар не подошел, не понравилась), доступны следующие способы возврата:</h3>
            <ol>
                <li>Курьером. Стоимость выезда курьера оплачивается, как полная стоимость доставки и рассчитывается автоматически в зависимости от Вашего местонахождения. Также заявку на возврат можно прикрепить к доставке Вашего следующего заказа, в этом случае доставка оплачивается единожды. Предварительно нужно заполнить  заявление на возврат, приложить копию паспорта Покупателя и чекИ.</li>
                <li>При получении заказа в пункте выдачи заказов "курьерской компании СДЭК", Вы можете вернуть товар, в удобном для Вас пункте выдачи заказов "СДЭК". Для этого нужно заполнить заявление на возврат, приложить копию паспорта Покупателя и чеки. Адрес для возврата товара ПВЗ "СДЭК" [YARS2]: г. Ярославль, ул.Большая Октябрьская,39, получатель ООО"Ройс".Тариф при отправке,Вы выбираете склад-склад. При отправлении Вы оплачиваете стоимость  пересылки.</li>
            </ol>
            <p>Денежные средства возвращаются Покупателю в течение 10 дней с момента получения возврата товара Продавцом. Возврат осуществляется на расчетный счет Покупателя (реквизиты заполняются в заявлении).</p>
            
            <h3>2. При возврате товара при наличии брака, доступны следующие способы возврата:</h3>
            <ol>
                <li>Курьером. Стоимость выезда курьера оплачивается, как полная стоимость доставки и рассчитывается автоматически в зависимости от Вашего местонахождения. Также заявку на возврат можно прикрепить к доставке Вашего следующего заказа, в этом случае доставка оплачивается единожды. Для этого нужно заполнить заявление на возврат, приложить копию паспорта Покупателя и чеки.</li>
                <li>При получении заказа в пункте выдачи заказов "курьерской компании СДЭК", Вы можете вернуть товар, в удобном для Вас пункте выдачи заказов "СДЭК". Для этого нужно заполнить заявление на возврат, приложить копию паспорта Покупателя и чеки. Адрес для возврата товара ПВЗ "СДЭК" [YARS2]: г. Ярославль, ул.Большая Октябрьская,39,получатель ООО"Ройс".Тариф при отправке,Вы выбираете склад-склад. При отправлении Вы оплачиваете стоимость  пересылки.</li>                 
            </ol>
            <p>Денежные средства возвращаются Покупателю в течение 14 дней с момента получения товара Продавцом. Срок может быть увеличен в связи с проведением проверки на наличие брака. Возврат осуществляется на расчетный счет Покупателя (реквизиты заполняются в заявлении).</p>
        
            <h4>Документы для возврата:</h4>
            <ul>
                <li>Копия паспорта покупателя</li>
                <li>Заполненное заявление на возврат</li>
                <li>Электронная квитанция или электронный чек</li>             
            </ul>

            <h4>Требования к изделию:</h4>
            <ul>
                <li>Сохранен товарный вид изделия</li>
                <li>Сохранена комплектация</li>
                <li>Сохранены этикетки и вшитые ярлыки</li>
                <li>Товар не был в использовании. Отсутствуют следы эксплуатации: царапины, следы шершавости на подошве и прочее</li>                              
            </ul>
            <p>В том случае, если при возврате товар НЕ соответствует какому-либо из перечисленных выше требований, она не подлежит возврату! В этом случае после оплаты Покупателем всех расходов на возврат, товар возвращается Покупателю.</p>

            <h4>Обратите внимание, при возврате Почтой Ваша посылка может быть не принята по следующим причинам:</h4>
            <ol>
                <li>Нарушение целостности почтовой упаковки</li>
                <li>Несовпадение реального веса посылки и веса, указанного в документах</li>
                <li>Отправка наложенным платежом.</li>                           
            </ol>

            <h3>3. При отказе от заказа до получения товара.</h3>
            <p>Невозможность передачи Товара Покупателю (или лицу, указанному в качестве получателя Заказа) по вине Покупателя (или лица, указанного в качестве получателя Заказа), в том числе вследствие нарушения Покупателем (или лицом, указанным в качестве получателя Заказа) сроков, в течение которых Покупатель (или лицо, указанное в качестве получателя Заказа) обязан забрать Товар, будет расцениваться как отказ Покупателя от Товара. В этом случае Товар возвращается Продавцу, а Заказ считается аннулированным. В случае аннулирования в соответствии с настоящим пунктом Правил предварительно оплаченного Заказа Продавец возвращает Покупателю денежные средства, уплаченные за Товар, не позднее чем через 10 дней с даты предъявления Покупателем соответствующего требования путём их перечисления на банковский счёт, с которого была произведена оплата товара, или на иной банковский счёт, указанный Покупателем.</p>
        </div>
    </div>
</div>