.payment {
    font-family: 'NotoSansJP',sans-serif;
    font-style: normal;
    padding-bottom: 60px;
    @media (min-width:601px) {
        padding-bottom: 120px;
    }
    @media (min-width:1200px) and (max-width: 1601px) {
        padding-bottom: 100px;
    }
    @media (min-width:601px) and (max-width: 1199px) {
        padding-bottom: 80px;
    }
    &__content {
        h3 {
            font-weight: normal;
            font-size: 14px;
            line-height: 180%;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #000000;
            @media (min-width:601px) {
                font-size: 18px;
            }
            @media (min-width:1200px) and (max-width: 1601px) {
                font-size: 16px;
            }
            @media (min-width:601px) and (max-width: 1199px) {
                font-size: 12px;
            }
        }
        p {
            font-weight: 300;
            font-size: 12px;
            line-height: 180%;
            letter-spacing: 0.12em;
            color: rgba(0, 0, 0, 0.8);
            margin-top: 30px;
            @media (min-width:601px) {
                font-size: 16px;                
            }
            @media (min-width:1200px) and (max-width: 1601px) {
                font-size: 14px;
                margin-top: 20px;
            }
            @media (min-width:601px) and (max-width: 1199px) {
                font-size: 10px;
                margin-top: 20px;
            }
        }
    }
    &__slider {
        margin: 20px 0 100px;
        @media (min-width:601px) {
            margin: 60px 0 190px;
        }
        @media (min-width:1200px) and (max-width: 1601px)  {
            margin: 80px 0 160px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            margin: 40px 0 112px;
        }
    }
    &__delivery {
        font-weight: 300;
        font-size: 12px;
        line-height: 180%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 40px;
        @media (min-width:601px) {
            font-size: 18px;
            margin-bottom: 60px;
            max-width: 1360px;
        }
        @media (min-width:1200px) and (max-width: 1601px)  {
            font-size: 14px;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            font-size: 10px;
            margin-bottom: 40px;
        }
    }
    &__cdec {
        background: #F2F2F2;
        border-radius: 0px 0px 0px 10px;
        padding: 40px 0;
        @media (min-width:601px) {
            padding: 75px 0;
        }
        @media (min-width:1200px) and (max-width: 1601px) {
            padding: 50px 0;
        }
        @media (min-width:601px) and (max-width: 1199px) {
            padding: 30px 0 44px;
        }
        h3 {
            font-weight: normal;
            font-size: 14px;
            line-height: 180%;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 10px;
            @media (min-width:601px) {
                font-size: 18px;
                margin-bottom: 20px;
            }
            @media (min-width:1200px) and (max-width: 1601px) {
                font-size: 16px;
            }
            @media (min-width:601px) and (max-width: 1199px) {
                font-size: 12px;
                margin-bottom: 15px;
            }
        }
        ol {
            list-style: disc;
        }
        li {
            margin-left: 15px;
            margin-top: 5px;
            font-weight: 300;
            font-size: 12px;
            line-height: 180%;
            letter-spacing: 0.12em;
            color: rgba(0, 0, 0, 0.8);
            @media (min-width:601px) {
                font-size: 16px;
                max-width: 1535px;
            }
            @media (min-width:1200px) and (max-width: 1601px) {
                font-size: 14px;
            }
            @media (min-width:601px) and (max-width: 1199px) {
                font-size: 10px;
            }
            &::marker {
                font-size: 10px;
            }
        }
    }
}